[2011-10-11 15:47] mdalmau opened #1 "deprecate key in favor of ref using a URN"
The TEI Council, after discussing feature request 2919640, decided at its April 2010 meeting in Dublin to change the Guidelines to recommend use of @ref with a URN in place of @key. Revisions to P5 are forthcoming.
If we work this revision into the BP, we will probably need to revise our section on "key and ref" to something like:

[code]

Not sure whether use of `<taxonomy>` is still warranted.

[2011-10-12 08:43] sydb commented on #1
Ha! Interesting that gitHub does not display the encoding on the issue page, but the e-mail copy I got does show the encoding.

In any case, the important question is do we want to try to re-word this section in the next 48 hours or whatever it is?

[2011-10-12 19:35] mdalmau commented on #1
I entered it mostly as an exercise to test the user-friendliness of the
interface as well as to have an example in the queue for others who may
submit an issue.  I think it can remain as-is (copied straight from the wiki
page) for now.  I suspect normalizing how bugs are entered will be difficult
and probably not worth our time.  I didn't assign anyone to the issue either
until we come up with a p

[2011-10-12 21:35] sydb commented on #1
Yes, in Germany. Haven't seen John yet, though.

[2011-11-26 22:09] kshawkin commented on #1
The change to use of @ref with a URN instead of @key never got implemented, it seems.  However, the issue has come up again: see http://purl.org/TEI/fr/3437509 .

[2015-08-31 03:39] kshawkin opened #2 "update the tie to a specific version of P5"
When creating the BP, we decided to use @version="1.9.1" on `<TEI>` in the ODD files so that people could create schema at any point in the future without later changes to P5 creeping in, possibly contradicting the BP.  However, we will need to update the version number in order to incorporate some things we want to include in our revision.

To check what changes might come through when doing this

[2015-08-31 03:41] kshawkin opened #3 "rewrite section on @rend and @rendition to account for @style"
P5 2.2.0 introduced @style, which is to be used much like the BP recommends using @rend.  We should drop any mention of @rend in the section on @rend and @rendition (but keep it elsewhere in the BP, where it has specialized uses, such as on `<milestone>` and `<lb>`) and instead recommend use of @style.  We could maintain our mention of @rendition since the level of indirection could still be usefu

[2015-08-31 03:42] kshawkin opened #4 "clarify representation of milestones"
For a line if asterisks between paragraphs, we currently say to use `<ab type="typography">******</ab>`.  I think we chose this for ease of rendering a sequence of Unicode characters that's included as content of this element.  We should explain this rationale for choosing `<ab>` (over `<milestone>` or `<space>`, which are more conventional choices).

Furthermore, we should add @style to the examp

[2015-08-31 03:43] kshawkin opened #5 "rewrite discussion of @key and @ref to discuss magic tokens and Linked Data"
The TEI Guidelines no longer recommend use of @key (though it has not been officially deprecated).  For things where you used to use @key, you should now either:

a) Use a "tag" URI scheme (as described in RFC 4151) on @ref: see implementation at https://github.com/TEIC/TEI/issues/337 .

b) Use a private URI scheme on @ref as described at http://www.tei-c.org/release/doc/tei-p5-doc/en/html/SA.html

[2015-08-31 03:44] kshawkin commented on #1
The situation in P5 has developed since this issue was opened, so I've created a new one ( https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/5 ) and will close this one.

[2015-08-31 03:44] #1 closed, assigned to nobody

[2015-08-31 03:44] kshawkin opened #6 "revisit encoding of ISBNs"
We recommend two values of @type on `<idno>`, but since then, the Guidelines standardized on `<idno type="ISBN">` (where previously there were some examples of `<idno type="isbn">`).  Perhaps we should standardize on `<idno type="ISBN">` as well and leave it to users to determine whether the value given is a 10-digit or 13-digit ISBN.  After all, they will already have to do some processing to add

[2015-08-31 03:45] kshawkin opened #7 "give guidance on incorporating outside metadata into a header"
The TEI Technical Council is finalizing a recommendation for a new element (tentatively named `<xenoData>`: https://github.com/TEIC/TEI/issues/453 ).  Once this is included in P5, we should at least mention it if not also give more specific guidance on its use.

Note that this change will require that https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/2 be resolved first.

[2015-08-31 03:45] kshawkin opened #8 "consider adding <width> and <height> as children of <extent>"
Catalog records often include dimensions of a physical item. Instead of leaving this as plain text in `<extent>` (`<extent>20 cm.</extent>`), we could prescribe the use of `<width>` and `<height>` inside, as in the msDescription module:

[code]

[2015-08-31 03:46] kshawkin opened #9 "intertwingled content in <editorialDecl>"
P5 now allows a mix of paragraphs and specialized elements as children of `<editorialDecl>` ( https://github.com/TEIC/TEI/issues/818 ), but we somehow missed this change when working on the BP.  We didn't realize this for version 3.0 of the BP, and since we wanted to include data that wouldn't fit in one of the specialized elements, we recommended putting everything in `<p>` elements.  We should u

[2015-08-31 03:46] kshawkin opened #10 "indicating interviewers and interviewees"
Consider this suggestion from Syd Bauman ...

Section “Level 4 Oral History” currently recommends that the speaking participants in the interview be identified as authors of the document, or in profileDesc/particDesc/list/item/name. In the example encoding of this interviewees and interviewers are differentiated as text inside the given `<item>`. This strikes me as sloppy. It may well be appropria

[2015-08-31 03:47] kshawkin opened #11 "encoding <pb>s within <note>s"
Give guidance on encoding of `<pb/>`s within `<note>`s. Should these be encoded or omitted, with the `<note>` element appearing in the XML "within" the page on which it began? (Note that the BP allows for local practice in gathering all notes for a given section to a div at the end of the section.)
If encoding such `<pb/>`s will be optional or required, there will generally be two instances of `<p

[2015-08-31 03:48] kshawkin opened #12 "bibliographies and other lists of works cited"
We give no guidance on encoding bibliographies, lists of works cited, lists of references, and other such things in documents. In TEI, you would use listBibl for this. We need to decide:
1. Whether to include this in the BP and at which level.
2. Whether to use bibl, biblStruct, or biblFull inside the list. (I strongly argue for bibl to give you the necessary flexibility to faithfully encode sourc

[2015-08-31 03:48] kshawkin opened #13 "update to take into account RDA"
The BP refers to "national cataloging codes" such that it could be used outside of the Anglo-American world.  However, some examples relating to AACR2 are given.  Now that this has largely been superseded by RDA, we need to update references ... and, if applicable, update MARC mappings and other practices that may have been affected by the move to RDA.  Still, we should try as best we can to stick

[2015-08-31 03:49] kshawkin opened #14 "how to record non-ASCII characters"
People often want to know what to do with non-ASCII characters. There are generally four options:
- insert them as they are (and assume the files will be manipulated by Unicode-aware software and that people can distinguish these from similar characters)
- insert decimal entity references
- insert hexadecimal entity references
- insert mneumonic entity references (which need to be declared)

We sh

[2015-08-31 03:49] kshawkin opened #15 "add <distinct> to Level 4?"
Consider adding `<distinct>` to Level 4. It seems like it could be useful.

[2015-08-31 03:50] kshawkin opened #16 "give guidance on encoding serials and composite documents"
People often ask how to handle encoding of serials. Should you have a single TEI document for the whole journal run, for individual volumes, for individual issues, or for individual articles? How do you encode metadata about the serial as a whole, issues, and article?

Similarly, how do you handle composite documents like a volume of conference papers? (see an [example of such a question](https://

[2015-08-31 03:51] kshawkin opened #17 "how to indicate conformance to the BP?"
In TEI, you typically use editorialDecl to say things about your specific use of the TEI. In the BP we use editorialDecl@n to say which encoding level you follow. And we have various p elements to describe encoding practices. But we have no place in the TEI document itself to record that the value of editorialDecl@n refers to the BP or that you follow the BP at all. We really should have this.

Yo

[2015-08-31 03:51] kshawkin opened #18 "rework Level 1 and Level 2 structure?"
Consider one of two ways to rework the encoding at Levels 1 and 2:

A) Kevin suggests removing the wrapper div1 and ab elements, leaving the OCR text in the body element. This would make it easier to upgrade documents to a higher level (because you wouldn't need to remove tags but could simply insert new ones).

B) Instead of putting the whole text in a single ab element, use one ab for each page,

[2015-08-31 03:54] kshawkin opened #19 "pb@xml:id and METS"
The sentence ...

`Use the @xml:id attribute on each <pb> element and a METS document to provide correspondence between <pb> elements and one or more facsimile page images (e.g., master, web derivatives, etc.).`

... isn't very clear. Is the value of each pb@xml:id also included somewhere in the METS document? If so, where exactly?

We might ask Michelle Dalmau at Indiana: I think the ideas for th

[2015-08-31 03:54] kshawkin opened #20 "revised "display examples" for levels 3 and 4"
The display example for Level 3 has texts with lots of features not found in Level 3 and is of oral transcriptions, which don't have a clear source document. For clarity, I suggest we instead link to http://name.umdl.umich.edu/abu0246.0001.001 as a display example for Level 3 and http://webapp1.dlib.indiana.edu/vwwp/view?docId=VAB7020.xml for Level 4.

[2015-08-31 03:54] kshawkin opened #21 "reconsider rend="keep-hyphen""
The @rend value "keep-hyphen" was meant to mean "keep the hyphen when tokenizing", not "keep the hyphen when rendering" as it appears from a quick read. It's also misleading to use `@tei:rend` to distinguish soft and hard hyphens when these can't be distinguished by the appearance in the source document (as `@tei:rend` is meant for). Consider revising this attribute value.

An idea from Conal Tuoh

[2015-08-31 03:56] kshawkin opened #22 "a corrigible error to fix (accidentally referring to Tite!)"
In section 3.8, change:

Scores of attributes are available for use within `<text>`, and a list of those recommended for use in Tite documents is included in Appendix A.

to:

Scores of attributes are available for use within `<text>`, and a list of those recommended for use in documents conforming to these Best Practices is included in Appendix A.

[2015-08-31 03:56] kshawkin opened #23 "relation of BP to TEI simplePrint"
We need to figure out how [TEI Simple](https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_simple.odd) relates to the BP. At the very least we need to explain what it is and how it's different (as we did with TEI Tite). At the most, we recreate the BP as a customization of Simple or something.

[2015-09-01 15:25] ghost opened #24 "taggings events"
There should be a recommendation for tagging names of events identified in a text (in a similar fashion to persName, placeName).

[2015-09-06 21:38] stuartyeates opened #25 "Cover MARC records and TEI body"
Certain MARC fields bear on the body of the text rather than the header (505, 520, etc) and these should be covered.

[2015-09-07 02:40] stuartyeates opened #26 "Add (or update) examples to show use of modern authorities"
Should include:
- https://http://viaf.org/viaf/137526058/
- http://orcid.org/0000-0003-3181-9310
- http://isni.org/isni/0000000119455417
- some of the various http://id.loc.gov/ vocabularies
- https://en.wikipedia.org/ or https://www.wikidata.org/ URIs
- ...

[2015-09-07 02:47] stuartyeates commented on #13
I think an explicit discussion of RDA and it's impact is needed.

[2015-09-07 03:04] stuartyeates commented on #14
http://www.w3.org/TR/REC-xml/ says:

  All XML processors MUST accept the UTF-8 and UTF-16 encodings of Unicode; ...

We should point to this and recommend using UTF-8, because in not requiring BOM it's simpler than UTF-16.

[2015-09-27 03:22] kshawkin commented on #17
Note that some think that a document should never name its schema (and, by extension, conformance to the BP or to any encoding levels), and if the document does, you shouldn't trust it.  See summary at http://www.biglist.com/lists/lists.mulberrytech.com/jats-list/archives/201509/msg00011.html .

[2015-10-18 22:28] kshawkin commented on #7
That element was included in P5 2.9.0, but there are some things still to be worked out: https://github.com/TEIC/TEI/issues/1346 .

[2015-10-29 16:13] kshawkin commented on #2
@sydb adds that removing `@version` isn't really an option since the Council frequently changes things that will break old ODDs.

[2015-10-29 16:14] sydb commented on #3
As much as I _love_ the fact that we suggest the WWP Rendition Ladder system, `@style` is simply more appropriate.
Our examples are now all or mostly CSS. I’m in favor of making them all `@style` with CSS.

[2015-10-29 16:20] mdalmau commented on #3
Just documentation/prose changes to mention @style including in examples across most levels (ODD file) ... in the main-driver.odd file.

[2015-10-29 16:24] kshawkin commented on #4
Check that we say what to do if you encounter this at a division (`<div>`) boundary.

[2015-10-29 16:31] sydb commented on #4
But what we say how to encode this at `<div>` boundary does not effect this ticket. I'm inclined to say “yes”, we should add prose explaining.

[2015-10-29 16:36] sydb commented on #5
I agree completely. (Although we should not use the phrase “key-like” IMHO.)

[2015-10-29 16:40] sydb commented on #6
if ( string-length( translate( $isbn,'- ','') ) eq 13) then 'ISBN13'
else if (string-length( translate( $isbn,'- ','') ) eq 10) then 'ISBN10'
else 'idunno'
[untested :-) ]

[2015-10-29 16:41] mdalmau commented on #19
I can clarify, but I am not sure if we want to even keep this section anymore.  We should discuss over Skype.

[2015-10-29 16:44] smjwsk opened #27 "Coordinated OCR in BPTL"
Most OCR Pipelines today provide coordinated OCR output which can be used for further processing. Some elements for this are in place, such as `<surface>` or `<facsimile>`, others from the analytic module, e.g. `<w>`, are missing. A usecase would be to have a common baseline format for meta-data and annotation on the text without loosing information present in machine generated OCR. Usecases like

[2015-10-29 18:30] stuartyeates commented on #6
ISBNs have a check digit. This allows us to identify ISBNs even without a type, right? And conversely throw an exception when it doesn't match and should

[2015-11-16 20:44] kshawkin commented on #16
See also https://listserv.brown.edu/archives/cgi-bin/wa?A2=TEI-L;e9063cfb.1511 .

[2016-01-31 19:07] kshawkin commented on #17
Note that some the various `p` elements that describe encoding practices may be changed to specialized elements: see https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/9 .

[2016-01-31 19:17] kshawkin commented on #5
See also related issue: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/26

[2016-01-31 19:17] kshawkin commented on #26
See also related issue: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/5

[2016-02-01 15:32] kshawkin commented on #6
During workgroup call today, we decided to update the recommended values of `idno@type`, removing both `isbn-10` and `isbn-13` and replacing with `ISBN` in:
- the big table of header values
- in any `elementSpec`s
- in any examples

I will implement after Feb. 8 unless objections or further discussion occurs here.

[2016-02-01 15:37] kshawkin opened #28 "update to take into account BIBFRAME"
[BIBFRAME](https://en.wikipedia.org/wiki/BIBFRAME) is planned to replace MARC. We need to consider whether to add mappings for BIBFRAME to the Best Practices. According to Wikipedia, the design of the model remains fluid, so it's probably best to wait till at least version 2.0.

We could drop mappings for MARC, but I doubt BIBFRAME will be used widely enough in the near future to warrant that.

[2016-02-01 15:42] kshawkin opened #29 "explain how to use just the header recommendations from the Best Practices"
We suspect that some users will be more interested in the header recommendations than the recommendations for encoding the `<text>` ("the body"), especially since Tite lacks a header and Simple does not constrain the header in any particular way.  While there's a single ODD file for just the header component, we might want to provide some info on how to incorporate this into other projects.  This

[2016-02-29 19:49] stuartyeates commented on #25
I now have running XSL for this.  It's still in BETA here but should be read for prime-time shortly. The only strictly-local component of the work is calculating the public URLs from the TEI, so it should be broadly usable.

[2016-02-29 20:26] PFSchaffner commented on #25
Sorry, Stuart, since I'm always interested in MARC-TEIHeader conversions, could you explain what this is about? Certainly in running conversions from MARC to TEI, as we do it, both MARC 505 and 520 translate into header fields, not body tags, but perhaps you are talking about a different situation? E.g. generating a 505 toc from the structure of the TEI text as tagged?

[2016-02-29 21:25] stuartyeates commented on #25
My code assumes (a) you have a basic MARC record with an 856 to a public presentation of the document (b) you have the full TEI and (b) from the TEI you can calculate the 856.

My code is a metaprogram xsl  which takes the TEI and outputs a generated xsl file.

The generated xsl files takes a MARCXML file, passing records through unchanged unless the 856 matches. If the 856 matches, the record (wi

[2016-02-29 21:56] PFSchaffner commented on #25
Thank you.

[2016-03-07 14:18] kshawkin commented on #19
Workgroup postponed consideration of this issue until we can get clarification from Michelle.

[2016-03-07 14:22] kshawkin commented on #20
Workgroup agrees to implement this.  Elli will handle.

[2016-03-07 14:24] kshawkin commented on #22
Workgroup agreed.  James will implement.

[2016-03-07 14:41] kshawkin commented on #29
Martin will look into use of the header in Simple.  Kevin will draft text for a new webpage linked from http://www.tei-c.org/SIG/Libraries/teiinlibraries/ explaining how to do this, but will leave blanks to be filled in by Elli and Syd.

[2016-03-07 14:46] kshawkin commented on #3
Peter agrees to implement.

[2016-03-07 15:07] kshawkin commented on #4
I think Syd is right that what to do about a `<div>` boundary is a separate issue.  In fact, I now remember that [the Best Practices already say](http://www.tei-c.org/SIG/Libraries/teiinlibraries/main-driver.html#index.xml-body.1_div.3_div.6) that when a `<pb>` occurs at a div boundary, we should always include it within a `<div>` for ease of processing.  We probably should be consistent for what

[2016-03-07 16:23] kshawkin opened #30 "milestones occurring at div boundaries"
In our [description of milestones in Level 4](http://www.tei-c.org/SIG/Libraries/teiinlibraries/main-driver.html#index.xml-body.1_div.4_div.2_div.5_div.6_div.7), we should say how to handle a milestone if it occurs at a div boundary.  After all, we address what happens [when a page break occurs at a div boundary](http://www.tei-c.org/SIG/Libraries/teiinlibraries/main-driver.html#index.xml-body.1_d

[2016-03-07 18:06] PFSchaffner commented on #30
Kevin, looking at the description of pb behavior, I wonder if it too might need expansion and clarification, and those expansions and clarifications carried over to the question of (other) milestones. The present prose says that pbs should appear within (I usually say 'tucked inside the opening of') a text division rather than between them -- but does not say what 'text division' means or whether

[2016-03-07 18:07] PFSchaffner commented on #30
(It also doesn't say what to do with pb tags when a text division ends, followed by a series of page breaks, but no new division follows into which to tuck them.)

[2016-03-07 20:33] PFSchaffner commented on #4
`<pc>` is semantically appropriate but I suspect would be practically infeasible, since it is a word/chunk level element that can only appear where plain text can appear, whereas pause-lines or almost-divs, or whatever you want to call these indications of a vague break, occur often in places that are more likely to require an element sibling to the elements on either side (`<p>` or `<lg>` for exa

[2016-03-08 19:35] pcgorman commented on #3
Are we not going to mention @rend at all, then, in 3.8.4 and subsequently - just swap @style for @rend?

[2016-03-08 19:47] pcgorman commented on #12
1. Yes - at least level 4, possibly 3 and up.
2. I agree w/ bibl, for the reason stated, and also for the simpler workflow.
3. I'd argue that listBibl go inside a div, and have the header go with the div instead of the listBibl. There is often text intervening between the head and the list.

[2016-03-08 20:02] pcgorman commented on #26
http://www.geonames.org/2965402/

[2016-03-08 21:56] pcgorman commented on #5
+1

[2016-03-08 23:32] PFSchaffner commented on #3
Since 3.8.4 already confines @rend values to CSS, simply swapping in @style makes sense.  However.... (and I always feel the need to ask this): what about formatting features that cannot be expressed as CSS? (or at least cannot be expressed by my CSS skillset?) The commonest in my work is rendition of spans or blocks of text (usually but not always quotations) by means of marginal turned commas, s

[2016-03-09 14:18] pcgorman commented on #3
Good use case Paul. I think dot leaders (e.g. as used in tables) are another difficult case. Rereading Kevin's initial comments, it seems that @rend would not be forbidden; we'd just urge the use of @style rather than @rend for formatting that _can_ be expressed as CSS. I suppose the question is where and how to address the possible use of @rend—which I support, if only as a last resort.

[2016-03-09 15:31] PFSchaffner commented on #3
I also wonder (and hope to be informed) whether use of CSS 'font-family' with home-brewed arbitrary values is really legitimate CSS. This is of course necessary when capturing anything but the most modern of typefaces. Even 'blackletter' is not defined as a generic font family in CSS, much less the different flavors of blackletter (rotunda, textura, bastarda, and the various Continental variants o

[2016-03-09 17:23] pcgorman commented on #3
I think we're leading parallel lives: just this week I've been grappling with the font issue, both with blackletter and with things like this:

![screenshot](https://cloud.githubusercontent.com/assets/17705031/13643996/33279e14-e5e9-11e5-8317-80f8074110bf.png)

[2016-03-09 17:32] PFSchaffner commented on #3
![short16](https://cloud.githubusercontent.com/assets/9382928/13644273/d3a28d0a-e5f2-11e5-89a1-5060f7117c3f.gif)
![short05](https://cloud.githubusercontent.com/assets/9382928/13644300/0599f230-e5f3-11e5-8f17-ea846901dc99.gif)
(the last, as often, containing a mistake--should end in a 'd' not an 'eth.')

[2016-03-10 02:26] kshawkin opened #31 "ambiguity over use of <lb/>, <cb/>, and <pb/> in Level 4"
In BPTL 3.2.2. (Hyphenation), it says, "At Level 3, optionally distinguish uses of the hyphen with the `@break` and `@rend` attributes on `<lb>`, `<cb>`, and `<pb>` elements as appropriate. At Level 4, the use of the `@break` and `@rend` attributes on these elements [`<lb>`, `<cb>`, and `<pb>`] is mandatory.”  In fact, the description of Level 1 mentions `<pb/>` as one of two mechanisms for linkin

[2016-03-10 14:42] pcgorman commented on #31
I don't think they should be mandatory, either - projects shouldn't be forced into doing a complete typographic transcription ('facsimile' in Menota terms) of the source. I also think we should only require @style/rend/rendition and @break when _all_ original hyphenation and line breaks are retained, as described in the hyphenation section, and not imply that they're required in all cases. This ma

[2016-03-14 16:34] pcgorman commented on #3
Here's what I'd like to say in 3.8.4, after changing existing examples of @rend to @style:

&lt;p&gt;If there are formatting features in the source that cannot be
          expressed with CSS syntax, the &lt;att&gt;rend&lt;att&gt; attribute may be
          used, as in the section on Hyphenation above. This may be also
          be necessary to encode font shifts in texts (e.g. blackletter)

[2016-03-14 16:41] pcgorman commented on #3
If we're really privileging @style over @rend, should section 3.2.1 (Punctuation) also be revised? The examples can be encoded as CSS, though @rendition needs to be used:

&lt;p&gt;When removing punctuation marks whose rendering in the
source document is worth preserving, use the &lt;gi&gt;rendition&lt;/gi&gt; &lt;emph
rend="font-weight: bold;"&gt;element&lt;/emph&gt; in the header to describe the

[2016-03-14 16:43] pcgorman commented on #3
Everywhere else the change from @rend to @style seems to be trivial.

[2016-03-14 22:58] kshawkin commented on #3
Regarding @pcgorman 's suggested revision to section 3.8.4, I suggest not mentioning the hyphenation section directly, at least till we know how https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/21 will be resolved.  Otherwise, his two proposed sentences are clear though kind of redundant.  Maybe just say this:

`<p>If there are formatting features in the source that cannot be

[2016-03-14 23:04] kshawkin commented on #3
Regarding @pcgorman 's question about section 3.2.1, it appears that this section was written, like the most of the rest of the BPTL, to use `@rend` in a way that is basically how `@style` was later designed for P5.  So it should be revised to change `@rend` to `@style`.

I don't think that `<rendition>` is required here.  In section 3.2.1, we only say to use `<rendition>` in cases where the value

[2016-03-20 02:41] #6 closed, assigned to nobody

[2016-03-20 03:16] kshawkin commented on #29
Once I looked into this, I think I know what to add without any help from Elli or Syd.  But I'd like others to check this over before I implement.

At http://www.tei-c.org/SIG/Libraries/teiinlibraries/ , I could add a new paragraph just before the one about Thutmose.  It might say the following:

[2016-04-04 13:22] kshawkin commented on #29
On call today, group suggested I add a sentence before this explaining why you might want do this but agreed that I should go ahead and insert both sentences without further approval.

[2016-04-04 14:51] kshawkin opened #33 "clarify where to encode <pb/>s: at a point where more than one div is opened or closed at once"
Currently [section 3.6 of the BPTL](http://www.tei-c.org/SIG/Libraries/teiinlibraries/main-driver.html#index.xml-body.1_div.3_div.6) says:

We should change "within a text division" to "within the lowest-level text division" to clarify what happens when the page break occurs at a point where more than one div is opened or closed at once.

[2016-04-04 14:58] kshawkin opened #34 "clarify where to encode <pb/>s: footnotes not entirely on same page as point of attachment"
Generally speaking, a footnote appears at the bottom of the page on which a siglum indicates the point of attachment to the main text.  However, there are times when:

a) the footnote text itself crosses pages (because it won't fit entirely on a single page)
b) the footnote begins on a page after the point of attachment

We should specify in the BPTL whether to add `<pb/>`s to mark these cases and

[2016-04-04 15:05] kshawkin commented on #30
Comments from @PFSchaffner have been split into two other issues: #33 and #34 .

Workgroup decided that milestones, like page breaks, should always be encoded at the lowest-level div. Once #33 is implemented, we should use same improved language in [the description of milestones in Level 4](http://www.tei-c.org/SIG/Libraries/teiinlibraries/main-driver.html#index.xml-body.1_div.4_div.2_div.5_div.6_

[2016-04-04 15:16] #22 closed, assigned to jrgriffiniii

[2016-04-04 15:26] kshawkin commented on #3
This has been partially implemented in #35 .  We still haven't revised 3.2.1 (on punctuation), and we might be more explicit in recommending use of `@style` over `@rend`.

[2016-04-05 02:16] kshawkin commented on #29
Done.

[2016-04-05 02:16] #29 closed, assigned to kshawkin

[2016-04-06 15:04] kshawkin commented on #33
Or, since Martin M. [raised this issue among others on TEI-L](https://listserv.brown.edu/archives/cgi-bin/wa?A2=TEI-L;96293b6.1604), consider revisiting our approach based on responses there.

[2016-05-02 16:33] kshawkin commented on #33
Discussed during today's monthly meeting. Decided to reaffirm original consensus that BPTL will recommend putting all milestone-type elements (including `<milestone/>` and `<pb/>`) in the lowest-level `<div>`.  However, if a user diverges from this practice, they should document in `<editorialDecl>`. I will implement this and #30 accordingly.

[2016-05-02 16:42] kshawkin commented on #4
Following discussion during monthly call on 2016-04-04, Martin Mueller posted to TEI-L to ask for input: https://listserv.brown.edu/archives/cgi-bin/wa?A2=TEI-L;96293b6.1604 .

[2016-05-02 16:46] kshawkin commented on #4
As discussed during today's monthly meeting, BPTL will recommend recommend putting all milestone-type elements in the lowest-level `<div>`.  However, if a user diverges from this practice, they should document in `<editorialDecl>`. So if we decide on an empty element as the solution for this, we should address placement with respect to `<div>` elements.

[2016-05-02 16:54] kshawkin commented on #4
Decided during today's monthly meeting that @emylonas will investigate what P5 says and summarize in a comment here.  Then we'll reconsider.

[2016-05-02 17:06] kshawkin commented on #5
During today's monthly call, I suggested that we postpone a decision until we get Council to consider whether P5 should really offer both (a) and (b).  Right now (a)—tag URIs—is discussed at http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#CONARS and in the specification for `att.canonical` (which includes `@key`), whereas (b)—private URIs—is discussed at http://www.tei-c.org/release/do

[2016-05-02 19:56] kshawkin commented on #8
During today's monthly call, we considered whether to allow not only `<width>` and `<height>` but also `<depth>`, possibly wrapped by `<dimensions>`.  We also realized that P5 gives an example where a single `<extent>` has two `<measure>` elements as children, each with `@unit` attributes as.  Need to consider all of these options. Tentative idea is for BPTL to recommend having just one `<extent>`

[2016-05-14 03:10] kshawkin opened #36 "specify how to encode sigla"
TEI practice varies on encoding sigla representing a note's point of attachment in a text.  Sometimes the text of the siglum (such as a superscript number) is encoded as content of `<ref>` and other times as the value of `@n` on either `<ptr/>` or `<note>`.  The BPTL similarly allows various practices.

Footnotes and endnotes repeat the superscript figure at the beginning of the note (so they can

[2016-05-14 03:15] kshawkin commented on #4
For the record, Martin Mueller wrote on teilib-l on 2016-05-17:

[2016-06-02 03:12] kshawkin commented on #5
In retracing the history of the introduction of tag URIs and private URI schemes into P5, it seems that the Council included both on purpose.  See discussion at http://wiki.tei-c.org/index.php/Prefix_Definition_Proposal , especially the footnote at the bottom of that page.  So I won't create a new issue for the Council to consider.

The BPTL group should decide whether to recommend just one of the

[2016-06-03 01:24] kshawkin commented on #33
Implemented:
https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/80ddfc471d0d1bbae7dd3a02a438e104c2b6ee7d

https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/8bfa9dd684495060ddf6c8d64078d3a60a7c8355

[2016-06-03 01:24] #33 closed, assigned to kshawkin

[2016-06-03 01:25] kshawkin commented on #30
Implemented at https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/8bfa9dd684495060ddf6c8d64078d3a60a7c8355 .

[2016-06-03 01:25] #30 closed, assigned to kshawkin

[2016-06-03 18:37] kshawkin commented on #8
I've been thinking about this more, and I'm not seeing a compelling reason for the BPTL to recommend encoding of the contents of `<extent>`.  The content of this field can vary considerably, and I can't come up with a case where someone would want to process its content with a machine.  Let's just keep things simple by not changing this recommendation in the BPTL.

[2016-06-03 18:37] #8 closed, assigned to nobody

[2016-06-04 15:58] lb42 opened #37 "ODDs are invalid"
I don't know whether you care about this, but I thought I should bring to your attention that the current ODD files seem to be invalid with respect to the current P5 release. I tried to validate "maindriver.odd" using oXygen and the released tei_odds.rng, and noticed the following:
- the &lt;publicationStmt> begins with an &lt;availability>: it  should begin by identifying the agency concerned e.g

[2016-06-04 16:01] kshawkin commented on #2
Here are some of the things we might need to address: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/37

[2016-06-04 16:03] kshawkin commented on #37
`maindriver.odd` has a `@version` on the root element tying it to P5 1.9.1, so I believe that's why the first bullet point isn't a problem.  I'm less clear on the others but will note that this should be handled with https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/2 .

[2016-06-04 16:06] lb42 commented on #2
The correct way of   tieing your ODD to a specific release is to use the `@source` attribute on your `<schemaSpec>`.

[2016-06-04 16:09] lb42 commented on #37
I dont think any software will take any notice of @version on the root element., You need @source on your schemaspec/. But anyway, two of these three problems are nothing to do with P5 schema changes, sfaics.

[2016-06-04 16:34] sydb commented on #37
Good points. I’ll try to look into these tomorrow.

[2016-06-06 13:04] sydb opened #38 "build process broken"
The current build process (designed to work on my machine, but should be easy to port to other machines) is broken due to changes in the TEI Stylesheets.

[2016-06-06 13:28] pcgorman commented on #15
Syd is implementing

[2016-06-06 13:29] kshawkin commented on #15
Peter and Syd agree that this would be useful and would complement the other optional elements in Level 4.  Syd is working on.

[2016-06-06 13:38] kshawkin commented on #18
After discussion, the BPTL workgroup agrees that solution (A) above is beyond the pale for TEI, whereas B does not improve the path for upgrading from level 1 to 2 or level 2 to 3.  Therefore, we won't make any changes.

[2016-06-06 13:38] #18 closed, assigned to nobody

[2016-06-06 13:40] sydb commented on #24
Problem here is that TEI doesn’t have any way to do this (other than `<name type="event">`, of course). So TEI-in-Libraries does not really have any way to do this. But perhaps this should be submitted as an issue against TEI, eh?

[2016-06-06 13:57] kshawkin commented on #25
If the BPTL workgroup understands correctly, you are extracting useful data from the encoded body of the text to enhance the MARC records for these TEI documents by adding additional data to the MARC records.  But we are skeptical of a generic solution for processing bodies of texts. For example, would you want to extract _every_ persName in the document for an added entry on the catalog record?

[2016-06-06 14:03] kshawkin commented on #5
The BPTL workgroup decided to remove recommendations for `@key` and instead recommend use of tag URIs.  However, we will also note that people are welcome to define a private URI scheme in their encoding as explained at http://www.tei-c.org/release/doc/tei-p5-doc/en/html/SA.html#SAPU .  We'll note that this can be helpful for shortening tag URIs (which can become cumbersome).

I will draft some pr

[2016-06-06 14:09] kshawkin commented on #24
To clarify, since P5 doesn't offer a way to do this, the BPTL workgroup would prefer to have the Technical Council consider this as a feature request (you can submit at https://github.com/TEIC/TEI/issues ) first.  If it's implemented there, we'll address in the BPTL.  If it's not, please bring it to us again: perhaps we'll create an eventName element just in the BPTL.

[2016-06-06 20:54] sydb commented on #37
1. The content model of `<publicationStmt>` was fixed to more properly represent the abstract model back in version 2.6.0. So while invalid against the current TEI, and in violation of the abstract model, the use of `<availability>` as the sole child of `<publicationStmt>` was valid and common back at release 1.9.1. This should be fixed though, and I just did no in 6e63c0c. I used `<authority>TEI

[2016-06-06 21:09] lb42 commented on #37
Re (3) -- it may well be the case that we'd like to do that. But you can only do so (I think) if you go to the trouble of defining and then using the TEI namespace in your schematron statement (which is in the schematron namespace) . I dont think that's a bug in anything, nor has it ever been otherwise. It's just the rules of the game.

[2016-06-07 09:40] lb42 commented on #24
Actually I think that's backwards. If you need this element, you should define it in your ODD, test out its usefulness, document it properly, and THEN submit it to the Council for consideration! But why not use &lt;name type="event"> ?

[2016-06-09 18:33] kshawkin commented on #24
Lou, I see your point.  I think our thinking went down this path because the BPTL has never defined elements in its customizations, so it seemed out of scope.

As for why not use `<name type="event">`, at Level 4 (where this issue would be addressed) we have said to use `<persName>` and the other specialized elements rather than `<name>`.  So there's an argument that it would be more consistent of

[2016-06-09 18:40] #15 closed, assigned to sydb

[2016-06-11 13:51] dmj commented on #14
@kshawkin A fifth option is &lt;g> for characters from the private use area (PUA) and are not defined by Unicode. I think it helps to discuss the options with regard to groups of non-ASCII characters: precomposed characters, combining characters and characters from a PUA.
- precomposed characters: Enter as-is
- combining characters: Use numeric character references because using them as-is can cau

[2016-06-11 15:22] kshawkin commented on #14
Right, it might good to give different recommendations for (a) glyphs that are available as precomposed Unicode characters, (b) glyphs that can only be constructed using combining characters, and (c) glyphs not in Unicode.  For the last one, it's true that I left `<g>` off the list.  Though I wasn't explicit about it when creating the issue, I was only talking about characters that are in Unicode—

[2016-06-11 16:14] dmj commented on #14
To clarify re NCRs: What I mean is that they are processed properly but it depends on the XML processing software whether or not they are preserved. E.g. in an XSL transformation NCRs and entity references are replaced by the referenced and _not_ serialized as NCRs/entities back in the output document.

Re PUA: Maybe a simple note suffices. You can detect these characters with a regexp or schematr

[2016-06-11 16:47] dmj commented on #14
Now that I think about it: The distinction between as-is, character references and entities seems to become irrelevant as soon as you assume documents that are processed programmatically. And this starts with loading TEI documents into and accessing them via e.g. an XML database. Maybe the advice is: Use Unicode, preferably UTF-8 without a BOM and don't worry?

[2016-06-13 04:10] kshawkin commented on #5
Note that [Martin Holmes's recent post to TEI-L](https://listserv.brown.edu/archives/cgi-bin/wa?A2=TEI-L;41ee9356.1606) may be useful in drafting the prose.

[2016-06-21 14:36] kshawkin commented on #2
Ah right, I was confused about this in 2011 and have had trouble getting it out of my head since then.  `TEI@version` is just a way of saying that the ODD was originally created based on that version of the TEI, not that the schemas should be generated from that particular version.  Tricky.

[2016-06-23 14:09] kshawkin commented on #19
When we return to this, we should think about whether we want to say anything about [IIIF](http://iiif.io/) as an alternative method for handling the linking between encoded text and page images.

[2016-07-04 03:11] kshawkin commented on #5
If I were more experienced with GitHub and didn't see Council members struggle with it all the time, I would create a branch and create revisions there.  Instead, I will post my draft revisions here.

I propose replacing [section 3.8.3 ("key and ref")](http://www.tei-c.org/SIG/Libraries/teiinlibraries/main-driver.html#index.xml-body.1_div.3_div.8_div.3) with the following:

<details>

[code]

</de

[2016-07-11 17:26] #25 closed, assigned to nobody

[2016-07-12 00:35] kshawkin commented on #5
During today's BPTL call, @PFSchaffner agreed to read my proposed revisions to the prose.

[2016-07-12 00:46] kshawkin commented on #9
During BPTL call today, @arouner agreed to implement this by September call.

[2016-07-12 00:47] kshawkin commented on #13
During the BPTL call today, I agreed to ask a colleague to help with this.

[2016-07-12 00:50] kshawkin commented on #27
The BPTL workgroup agreed that it would be good to allow encoding of OCR coordinates at all encoding levels (not just levels 1 and 2), but none of us felt comfortable implementing this because we don't understand the use of these TEI elements or the workflow needs well enough.  We agreed that I would ask @smjwsk to submit a pull request implementing this.  Once that happens, I can look it over and

[2016-07-12 00:50] kshawkin commented on #36
During the BPTL workgroup's call today, @PFSchaffner agreed to summarize the options for us to decide how to proceed.

[2016-08-01 16:08] emylonas commented on #20
I changed the URLs in the grid in the introductory paragraph - am also recommending that we select a worok in the Isaac Newton site, in order to actually go directly to a text and not to the home page of the project. Perhaps: http://webapp1.dlib.indiana.edu/newton/mss/dipl/ALCH00006/

[2016-08-01 18:27] kshawkin commented on #17
BPTL group agreed that use of `editorial@n` to record the encoding level seems wrong, but we're not yet sure of a better way to do it.  We might just have boilerplate text in a `<p>` inside `<editorialDecl>`.  Elli and Stefanie will investigate and bring a proposal back to the group.

[2016-08-01 23:48] emylonas opened #40 "publicationStmt invalid"
`<publicationStmt>` is invalid, because it only contains one element `<availability>`. `<publicationStmt>` can either be unstructured, and contain an `<ab>` or `<p>` with free text content, or it has to have one of the following as the initial element: `<publisher>, <distributor>, <authority>`.

I suggest that we use `<authority>Text Encoding Initiative in Libraries SIG</authority>` or just `<auth

[2016-08-02 00:52] emylonas commented on #40
If we can reach consensus on this, I can commit my changes, otherwise the file remains invalid. (I can just put an empty `<authority>` in as well, and we can quibble over wording later.)

[2016-08-02 02:44] #34 closed, assigned to jrgriffiniii

[2016-08-02 03:01] kshawkin commented on #34
There was a missing word in @jrgriffiniii 's edit, and when fixing that, I immodestly decided to improve his wording as well. But then, as I reread the whole section, I thought it would be clearer if reorganized.  For those interested, see the result: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/b61416476e7fb0a24559885c601cfcd960192fa5 .

[2016-08-02 03:19] kshawkin commented on #5
During today's BPTL call, @PFSchaffner said that he had reviewed the revisions and that everything made sense.  No one else was interested in reviewing, so I will commit this change (soon, once I have some more time).

[2016-08-02 03:32] kshawkin commented on #20
BPTL group agreed with changing all URLs in "Display example" column to point to specific texts rather than to site homepages.

As we discussed today, feel free to commit directly to master branch.

[2016-08-02 03:37] kshawkin commented on #36
During today's BPTL workgroup call, @PFSchaffner said he would post a link here to a Google Docs file containing his summary of the options.

[2016-08-02 04:23] kshawkin commented on #14
During today's BPTL discussion, we agreed that it is best not to discuss input or QC of character data (since needs can vary from one project and toolchain to another) but rather only discuss the format used for exchange and archiving, which is what's implicit in the BPTL.  We agreed to recommend use of UTF-8 (without a BOM) and not address entity references.  We'll also caution against overzealou

[2016-08-02 04:25] kshawkin commented on #17
If we figure out a way to record that a document conforms to (or aspires to conform to) the BPTL, it would also be good if we could indicate which version of the BPTL it conforms to (or aspires to conform to).

[2016-08-02 05:04] kshawkin commented on #40
It sounds like you've found an error in one of the ODD files themselves rather than an error in the content model of `<publicationStmt>` as specified in `lib-header.odd` or an incorrect statement in the prose in one of the ODD files.  However, I can't find the problem.  Can you give me a filename and line number?

[2016-08-02 11:15] lb42 commented on #17
Is BPTL a specific ODD/schema? If so the proposed &lt;schemaRef> is probably what you want. Or one of the other proposals discussed on https://github.com/TEIC/TEI/issues/564

[2016-08-02 11:19] lb42 commented on #14
The implication that &lt;g> is intended _only_ for PUA characters (if intended) is faulty. You can use &lt;g> for any character or glyph you wish to distinguish in your markup. The _content_ of the &lt;g> element may or may not be a PUA character.

[2016-08-02 14:22] emylonas commented on #40
I'm getting an error in main-driver.odd line 31 - inside `<publicationStmt>`.

Yes, it is an error in the file - it's not an error in the content model, but an inconvenience that I've noticed before (and others have as well).

[2016-08-02 14:26] kshawkin commented on #40
Ah yes, I see now.  I would just add `<authority>TEI SIG on Libraries</authority>` as found in the other ODD files.  Thanks!

[2016-08-02 14:39] emylonas commented on #40
closed with commit 94e9705 merged

[2016-08-02 14:40] #40 closed, assigned to nobody

[2016-08-02 14:40] emylonas commented on #20
closed commit 94e9705

[2016-08-02 14:40] #20 closed, assigned to emylonas

[2016-08-02 15:05] jrgriffiniii commented on #17
@lb42: How might encoding levels be addressed using the `<schemaRef>` element?

If I accurately follow the thread within the referenced Issue, would it be best for one use either the @type or @subtype attribute values to capture such information?

[2016-08-14 22:10] kshawkin commented on #36
Here's [Paul's notes](https://docs.google.com/document/d/1AS99_iMNVUkriQKtUSnyM-iRoJpcWQTweZsxDzn9Qh4/edit), which he [sent to teilib-l](https://list.indiana.edu/sympa/arc/teilib-l/2016-08/msg00006.html).

[2016-08-27 18:49] kshawkin commented on #21
Council has finally resolved this in P5, explicitly recommending `@force` on `<pc>`: https://github.com/TEIC/TEI/commit/589f46997c23f26b277a104fd50aebebdfbc62f2 (with a subsequent fix in https://github.com/TEIC/TEI/commit/bed6f23393ba4631f94ac98d3e2014dacbe8d204 ).

We should follow their lead.

[2016-09-05 21:10] kshawkin commented on #31
This should probably be revised in conjunction with https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/21 .

[2016-09-06 17:23] kshawkin commented on #9
@arouner wrote to me today to ask for an extension till November unless he's holding us up.  He's not (there's still plenty of time!), so I'll leave the assignment with him.

[2016-09-10 14:44] kshawkin opened #42 "idno as child of biblStruct"
Council has removed `<idno>` as a child of `<biblStruct>` per https://github.com/TEIC/TEI/issues/1088 .  We need to revisit our header guidelines accordingly.

[2016-09-10 23:57] kshawkin opened #43 "header section: note about complete customizations"
lib-header.odd contains the following:

I think this should be turned into an XML comment since, in the HTML version of the full BPTL (when the ODD files are joined together, this paragraph appears in the middle, out of context.

[2016-09-12 17:10] emylonas commented on #21
change prose in section 3.2.2 and look at adding `<pc>` back in order to use @force
(corrected so that `<pb>` becomes `<pc>` which I think was what was intended.

[2016-09-12 17:14] kshawkin commented on #24
In the May 2016 meeting we felt that we should leave to Council to implement in P5 first, but subsequent discussion on the ticket questions this. Andrew will try to dig up some past discussion of event tagging to share for consideration.

[2016-09-12 17:28] kshawkin commented on #36
During today's BPTL call, Martin Mueller agreed to write up a recommendation for us to consider.

[2016-09-12 17:49] emylonas commented on #11
Recommend encoding of `<pb>` in both text and note, and use @sameAs on each element to point to the other. implement when there is opportunity.
This is should definitely be added to the prose, check for @sameAs in ODD.

[2016-09-12 18:03] emylonas commented on #12
Sep. 2016 work group discussion - agree with Peter's comment above
Recommendation, at level 3, put bibliography and refs in a `<div type="bibliography">`, with `<listBibl>` which will contain `<bibl>`s with no further detail marked.
Open question - what do is the Level 4 recommendation? how much detail within `<bibl>` to have at that level. No decision yet.

[2016-09-12 18:08] kshawkin commented on #42
During today's BPTL workgroup call, I agreed to recommend a solution in writing, addressing where to move the stuff we currently encode in `<idno>` within `<biblStruct>`.  Elli urged me to consider where such information is encoded in the TEI export format of tools like Mendeley and Zotero.

[2016-09-12 18:14] kshawkin commented on #17
BPTL discussed this again today.  Given that @lb42 helpfully pointed us to a pending ticket (https://github.com/TEIC/TEI/issues/564) before Council, the group decided to cancel the previous assignment for Elli and Stefanie to investigate and instead wait till Council recommends something.  Elli will report back to us on the status of this from discussions in Council.

[2016-09-12 18:16] kshawkin commented on #31
During BPTL workgroup call today, @emylonas agreed to look at this while implementing #21 .

[2016-09-12 18:17] kshawkin commented on #10
During BPTL workgroup call today, we agreed to implement according to Syd's recommendation. No volunteer to implement yet.

[2016-09-13 14:06] arouner commented on #24
What I was recalling was a very old initiative, "XML Schemas for Historical Event Markup and Linking Project (HEML)" that is no longer active (and hasn't been for some time).  There is still a description and some links on the Cover Pages: http://xml.coverpages.org/heml.html.  And if HEML itself is no longer active, some of its work might be folded into the TEI.

[2016-09-13 14:39] kshawkin commented on #13
My colleague Adam Baron is still on board and says he'll begin work on this now and will follow up with me by mid-October at the latest.

[2016-09-13 14:47] kshawkin commented on #24
Thanks for investigating.  While heml.org still exists, the material related to this early project seems to be gone, so I don't think we should worry about that any more.

So, I think we're back to deciding whether to propose a solution of our own for the BPTL or requiring the requester to propose something to the Technical Council first.  We'll discuss at a future meeting.

[2016-09-13 17:48] kshawkin opened #44 "proofreading auto-generated HTML"
Once we've resolved all other issues, we should check that the process of creating the HTML produces a complete document that is readable, and while we're at it, we should proofread the text.

In an email to me on 2016-09-13, @jrgriffiniii kindly volunteered to do this.

[2016-09-21 15:21] kshawkin commented on #23
Or maybe redefine Level 4 as the same as TEI Simple but with the BPTL header.

[2016-09-21 19:12] lb42 commented on #23
How does the BPTL header differ from the Simple header? Would be easy enough to make them the same, surely?

[2016-09-21 20:34] kshawkin commented on #23
I'm only barely familiar with TEI Simple at this point, but as I recall, it has no header.  As for BPTL, it's header is quite detailed, with certain compromises from canonical TEI practice that are meant to allow for round-tripping with library catalog records stored in MARC format.

[2016-09-21 21:13] lb42 commented on #23
TEI SImple has a header. It would hardly be a TEI conformant schema if it did not. I'll take a look at BPTL header to see what  "compromises from canonical TEI practice" means!

[2016-09-22 00:09] kshawkin commented on #23
Here's our statement from the BPTL: "In order to allow automatic generation of TEI headers from MARC records and MARC records from TEI headers, some elements (like <author>) contain content not typical for TEI practice but necessary due to a lack of granularity in the MARC format."  Since it's hard to read the table of header elements in `lib-header.odd`, you might want to consult this snapshot of

[2016-09-24 13:37] lb42 commented on #23
I compared the list of elements from the header module specified in the file lib-header.odd (version 3, oct 2011) with the list of elements proposed in the current version of TEI Simple, and have the following observations:
1. BPTL includes two elements excluded by Simple (application and appInfo)
2. Simple includes 14 elements excluded by BPTL , specifically:
   biblFull catDesc catRef category c

[2016-09-24 17:32] kshawkin commented on #23
Yes, your list will be useful for work on #2 .

[2016-09-26 15:19] kshawkin commented on #23
See this thread on teilib-l: https://list.indiana.edu/sympa/arc/teilib-l/2016-09/msg00003.html

[2016-09-27 20:03] kshawkin commented on #42
As described at https://github.com/TEIC/TEI/issues/377#issuecomment-249886069 , Zotero's mapping was developed by one of us, so we can change it as we see fit.

[2016-10-07 13:52] kshawkin commented on #27
We might also consider whatever approach is adopted for https://github.com/TEIC/TEI/issues/1508 .

[2016-10-09 22:42] #5 closed, assigned to kshawkin

[2016-10-09 23:01] kshawkin commented on #14
Draft prose to be inserted between section 3.1 ("Standards and Local Practice") and section 3.2 ("Transcription"):

[code]

I'm not sure that the second sentence is warranted since the introduction to the BPTL already says, "Only those elements and attributes mentioned below are recommended for use in encoding based on these Best Practices; use of other TEI elements and attributes is not recommend

[2016-10-10 00:11] kshawkin opened #45 "controlled vocabulary for @type on divs?"
We should consider whether to prescribe a controlled vocabulary of values for `@type` aside from "section" (which we mention).  Note that P5 gives some values for divs that occur in front and back matter: see http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DS.html#DSFRONT and http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DS.html#DSBACK .  We could refer to these, though we might also wan

[2016-10-10 00:17] kshawkin commented on #45
Or maybe don't bother, assuming people will follow our general documentation on values of `@type`: http://www.tei-c.org/SIG/Libraries/teiinlibraries/main-driver.html#index.xml-body.1_div.3_div.8_div.1

[2016-10-10 16:11] emylonas commented on #45
Agreed, best to keep it simple.

[2016-10-10 16:45] emylonas commented on #21
1. Suggest changing prose to read as follows:
   `At Level 3, if <lb>, <cb>, and <pb> elements are used, optionally distinguish uses of the hyphen with the @break and @rend attributes. At Level 4, the use of the @break and @rend attributes on these elements is mandatory if <lb>, <cb>, and <pb> elements are used.`

I'm confused about the use of `<pc>` vs. `<rend>`

[2016-10-10 16:53] emylonas commented on #17
Sounds as if we should be waiting for schemaRef (which should be in next release, early December) and then put a line in the `<encodingDesc>` that will point to the appropriate ODD level.  - that means we should have URLs for all of these, as the syntax is: `<schemaRef url="">`.

[2016-10-10 17:51] emylonas commented on #23
Clarify how BPTL is different from and related to Lite and Simple, as the BPTL already does for Tite. Create a new issue to hash out differences between Simple and Level 4, and approach Council if we feel that they need to be reconciled or make changes to BPTL level 4.

Martin adds, perhaps also http://www.deutschestextarchiv.de/doku/basisformat_en

[2016-10-10 17:53] emylonas opened #46 "BPTL Level 4 and TEI simplePrint"
Reconcile [TEI Simple](https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_simple.odd) and Level 4 and approach Council if we want to suggest changes in Simple or just make changes to BPTL level 4. New issue arising out of #23

[2016-10-15 01:51] kshawkin commented on #23
I'm not sure that we need to address how the BPTL differs from the DTA Base Format.  But I'll add a note to the new issue that we should consider the differences between Level 4 and the DTA Base Format.

[2016-10-15 01:52] kshawkin commented on #46
We could also consider the [DTA Base Format](http://www.deutschestextarchiv.de/doku/basisformat_en), which Martin Mueller says is slightly tighter than TEI Simple.

[2016-10-15 17:30] lb42 opened #47 "Some comments on the Header"
[code]

[2016-10-16 15:00] kshawkin commented on #23
Further to his comparison of lib-header.odd and TEI Simple above, Lou has also produced a comparison against P5: see https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/47 .  Just mentioning it here for completeness even though this ticket (unlike Lou's) is not really concerned with the header.

[2016-10-16 15:00] kshawkin commented on #37
For more comparison of the BPTL header and P5, see https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/47 .

[2016-10-16 15:02] kshawkin commented on #47
At a glance, I think most of these changes were intentional: we were trying to restrict things to match the prose of the BPTL.  That said, he also points out some ways that the content models that were changed which might have unforeseen consequences.  Would be worth checking all of these to make sure that what we've really done is optimal.

[2016-11-07 02:51] kshawkin commented on #36
Martin Mueller emailed Kevin on 2016-11-03 to say:

[2016-11-07 15:19] kshawkin commented on #9
@arouner said he won't be able to get to this anytime soon, so it might be best to reassign to someone else.

[2016-11-14 16:36] sydb commented on #7
Nothing left to work out in P5 that should prevent us (or even slow us down) from recommending `<xenoData>`. It was made for this group (librarians, not necessarily BP), after all.

[2016-11-14 16:41] emylonas commented on #4
**Two discussions in this ticket:**

_First Discussion_
The P5 discussion on milestones at http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#CORS5 doesn't provide any specifics on where to place `<milestone>-like` elements when they appear at division boundaries. Some of the examples imply that they may be outside the lowest level mixed content element, but there is no explicit informati

[2016-11-14 17:47] sydb commented on #2
Right, Kevin. Lou is correct, and that is what we do. In general, our `TEI/@version` and our `schemaSpec/@source` indicate the same version of P5, although they don’t have to.

[2016-11-14 18:15] sydb commented on #43
Yup. Good idea. (Either a comment, a PI, or a lot of explanatory prose is needed.)

[2016-11-14 18:22] emylonas commented on #45
In meeting 11/13 suggestion that we take front matter and back matter list of `@type` from Guidlines and and merge with WWP list of `@type` for `<div>` and clean up the resulting list. This should be a suggested list of values in the ODD and prose recommends modification for each project.

[2016-11-14 18:23] sydb commented on #45
The list from the WWP is as follows. Note that many of the descriptions are written by yours truly, and thus may be suboptimal. (If you see a good one it’s probably by Julia or Sarah.:-)

[code]

[2016-11-14 18:32] emylonas commented on #4
After discussion on 11/13
Explain why we recommend `<ab>` in the prose and add `@style` to example. This is Kevin's original suggestion.

[2016-11-14 18:42] emylonas commented on #24
Chapter 13.4.2 gives example of `<name type="event">` so there is a precedent for indicating events in the text. Since `<name>` has a `@ref` it can point to an eventography.

So, in BP level 4, where we discuss names, we should also add to the examples or find a way to mention, although there isn't an "eventName" you should use `<name type="event">`.

[2016-11-14 19:21] sydb commented on #38
Finally fixed at 7f7f87c.

[2016-11-14 19:21] #38 closed, assigned to sydb

[2016-11-14 19:26] sydb commented on #2
At commit 7f7f87c BP are now tied to P5 version 2.9.0.
Leaving this ticket open, though, as it is time to work on updating that to 3.0.0; or the ”Sinterklaas” release, which is scheduled for Tue 06 Dec 16.

[2016-11-15 04:09] kshawkin commented on #21
We discussed during today's BPTL call and agreed that we just need to rewrite the section on hyphenation in the BPTL document to specify using `<pc>` with `@force` _and_ an appropriate milestone element when you want to indicate hyphenation.

[2016-11-15 04:19] kshawkin commented on #24
First draft of prose to add to BPTL Level 4:

[2016-11-15 04:24] kshawkin commented on #14
During today's BPTL call, Elli and Syd agreed to review my prose.

[2016-12-11 23:47] kshawkin commented on #42
In line with the refined content model of `<biblStruct>` clarified by the Council over the past few years (in which elements should be located within `<analytic>`, `<monogr>`, or `<series>` if they relate to one of these portions of the citation), I propose that:

a) in the big table of header elements, we move both `<note>` and `<idno>` under `<monogr>`.
b) in the sample header below the big tabl

[2016-12-11 23:51] kshawkin commented on #3
Emailed Peter to see if he's interested in finishing this.

[2016-12-12 00:23] #24 closed, assigned to kshawkin

[2016-12-12 14:58] kshawkin commented on #37
(4) is now done: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/2 .

Still need to figure out if we're doing anything about (3).  And, once we've dealt with all other issues here in this GitHub project, we should go back and repeat what Lou did initially: compare with P5.  We'll need to check that any discrepancies are intentional deviations on our part.

[2016-12-12 15:30] sydb commented on #2
The “Sinterklaas” edition, 3.1.0, is now scheduled for Thu 15 Dec 16. (And thus perhaps cannot be called “Sinterklaas” any more :-)

[2016-12-12 15:54] sydb commented on #7
The prose of lib-header.odd that needs to be re-written is (or, at least part of what needs to be rewritten):

[2016-12-12 17:19] emylonas commented on #4
Made changes as above. Note: revisited why not use ``<metamark>``. For the record, it's because that element is part of msDesc and is often used for editorial marks. So ``<ab>`` is definitely better. Closed with commit fbc58b8

[2016-12-12 17:19] #4 closed, assigned to emylonas

[2016-12-12 18:04] emylonas commented on #45
The following are the values from the TEI:

**Front Matter**
- preface (WWP has _prefatory_)
- ack
- dedication (WWP has _ded_)
- abstract
- contents (also in WWP)
- frontispiece (also in WWP)

**Back matter**
- appendix
- glossary
- notes
- bibliogr
- index (also in WWP)
- colophon (also in WWP)

This is the WWP list for div types in the body of a text, Suggest keeping the ones in the first list

[2016-12-12 18:24] sydb commented on #37
Current plan is for @sydb to post a ticket to TEI, since there is no reason for TEI to complain about what is and is not allowed in a Schematron rule — if Schematron doesn’t care, why should TEI? But some further research on what Schematron does say about non-Schematron elements is needed, first.

If TEI decides not to fix this, or takes too long, we can just take those elements out.

[2016-12-12 21:55] emylonas commented on #21
I have rewritten the prose and it looks ok, but as I've had to comment out a bunch of xi:include sections in order to run the TEI XSL, I'm not sure about all the detailed formatting, which is why  I'm not closing the ticket.

I also have a a nagging doubt - We say the following now:
"At Level 3, If ``<lb>, <cb> and <pb>`` are used, optionally distinguish uses of the hyphen with ``<pc>`` and `@forc

[2016-12-13 17:37] kshawkin commented on #13
I've rewritten the discussion of `<analytic>` and `<monogr>` to account for the rare case of analytic catalog records.  See changes here: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/3586f8dc20af0447b2691fe6751695bcc5495519 .  These changes should be taken into account; in other words, I believe we could actually include mappings for the children of `<analytic>`.

[2016-12-13 17:38] kshawkin commented on #13
Nudged my colleague about this today ...

[2016-12-13 18:44] kshawkin commented on #42
BPTL group agreed yesterday that I should implement this.

[2016-12-13 20:26] kshawkin commented on #36
During yesterday's BPTL, call, I agreed to find an example of a footnote that we can refer to and then propose one or more encodings of this example to help us reach consensus.

[2016-12-14 01:57] kshawkin commented on #21
The rewritten prose is in a local copy of the repository, right?  I don't see anything yet.

When you write "We say the following now", I think you're referring to your local copy.  The requirement for Level 4 is carried over from BPTL v. 3.0, where, as you surmised, the thinking unstated assumption was that Level 4 texts are likely to be used as the basis for republication in other formats (like

[2016-12-14 02:04] emylonas commented on #21
yes it's in my local repo. will do

[2016-12-14 03:19] kshawkin commented on #36
Okay, pretend you have a source document with the following:

http://i.stack.imgur.com/VGqNT.png

Based on the discussion at the Dec. 12 BPTL call and other discussion up till now, I suggest that we rewrite the Level-3 recommendation for notes to recommend the following:

a) Use `<ref>`, not `<ptr/>`, for sigla, with the text of the siglum itself as content of the `<ref>`.  This is so that you don

[2017-01-09 16:12] emylonas commented on #21
close with 8f236d4

[2017-01-09 16:25] emylonas commented on #31
I've changed the language in the hyphenation section #21 so that but there is no section specific to breaks. However, we don't say anywhere if these are required, and on what levels of BPTL. Likewise for line breaks and column breaks. What levels are these required on? Suggest changing the Page Break section to _Page,  Line and Column Breaks_ and then adding information on where/when these are req

[2017-01-09 16:34] emylonas commented on #17
``<schemaRef>`` is all in P5 now. what URL do we point to? Options:

- github raw file of a release branch
-if this is to keep changing with new releases, the documentation has to explain what the current release and attribute value will be.
-some other place, still have to handle release number

[2017-01-09 18:19] sydb commented on #45
Conference call (@sydb, @emylonas, @kshawkin) agrees to use Elli’s list of 2016-12-12 as a `type=semi` list except: confession, petition, tract, pamphlet, meditation; and to change `bibliogr` to `bibliography` and to add `foreword`.

Also repeat lists in the prose, and  make comments in ODD and prose pointing out that any changes need to be noted in both.

This applies to Levels 2, 3, & 4

[2017-01-09 18:50] kshawkin commented on #14
Elli and Syd like, except they suggest changing "To aid in interchange" to "For the purpose of interchange,".  I'll implement.

[2017-01-09 18:57] sydb commented on #17
I.e., something like
[code]

Also remember to remove the `@n` of `<editorialDecl>`.

[2017-01-10 02:51] kshawkin commented on #21
During today's BPTL call, Elli asked me to review the change she committed.

[2017-01-10 03:28] kshawkin commented on #31
During today's BPTL call, I pointed out that currently `<pb/>` is discussed in the element recommendations for Level 1, and `<lb/>` and `<cb/>` are discussed in the element recommendations for Level 3.  Elli said that she then thinks that everything is set with this issue and issue 21, but she asked Kevin to check over the changes that she committed.

[2017-01-10 03:31] kshawkin commented on #17
During today's BPTL call, we discussed the issue and agreed to:

1) Add a row to the table of header elements for `<schemaRef>` (a child of `<editorialDec>`). For this element, say that you should use syntax like `key="BPTL-L3-v3.1.0"` to record that you are following a certain level of encoding in a certain version of the BPTL. You can also use `@url` to point to your own schema, whether a copy o

[2017-01-10 03:32] kshawkin commented on #36
During today's BPTL call, Elli agreed to review my proposed text above.

[2017-01-10 03:34] kshawkin commented on #13
Nudged again ...

[2017-01-10 03:35] kshawkin commented on #9
During today's BPTL call, Syd said that he thought he had completed this but would need to check.

[2017-01-10 03:37] kshawkin opened #50 "update BPTL ODDs to use Pure ODD syntax"
Syd suggested that we do this even though he admitted that there's no danger of deprecation of "impure" ODDs anytime soon.  He said the update can be done programmatically.  He volunteered to take this on, but Kevin suggested waiting till near the end so that we don't introduce any impure ODD syntax while implementing other tickets after this one.

[2017-01-12 03:34] kshawkin commented on #31
For the record, when implementing this in https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/pull/49 , she followed @pcgorman 's suggestion that we would not require these milestone elements in Level 4 and has made this explicit in the prose.

[2017-01-14 22:54] sydb commented on #43
I addressed this in mid-December, but because I had broken other things at the same time did not push it until 5 days ago, and forgot to close the ticket.
Fixed in c3fb2b9bec18c0e9b4f037908f7f1bdc2ff525a6.

[2017-01-14 22:54] #43 closed, assigned to sydb

[2017-01-15 15:29] sydb commented on #50
Implemented for lib-header.odd while I was working on other tickets. Pushed at dffbeb5ca583ec69c53158d8671e92ffac74683c

[2017-01-15 15:29] sydb commented on #17
*Partially* implemented at dffbeb5ca583ec69c53158d8671e92ffac74683c: I’ve added `<schemaRef>` to the schema (with a suggested value list for `@key`), and changed all the examples I found. I did *not* remove the discussion of `@n` of `<editorialDecl>` (although I made it red inthe table), nor add a line for `<schemaRef>` to the table.

[2017-01-15 15:30] sydb commented on #9
Schema work is completed (at dffbeb5ca583ec69c53158d8671e92ffac74683c or earlier): it does indeed permit intertwined specialized elements and paragraphs (or anonymous blocks) in `<editorialDecl>`. The table in `lib-header.odd` still needs to be updated, as it does not have entries for the specialized elements: `<correction>`, `<hyphenation>`, `<interpretation>`, `<normalization>`, `<punctuation>`,

[2017-01-15 15:30] sydb commented on #2
At commit dffbeb5ca583ec69c53158d8671e92ffac74683c BP are now tied to P5 version 3.1.10.

[2017-01-15 15:30] #2 closed, assigned to sydb

[2017-02-13 15:45] emylonas commented on #31
hopefully closed with commit 1bd07b5

[2017-02-13 15:45] #31 closed, assigned to kshawkin, emylonas

[2017-02-13 17:16] emylonas commented on #45
In the processing of creating the list, I wonder if we want to make abbreviations for the types or just leave them as full words. I will add in `valItem/gloss` information about the ones that are likely to belong in front or back matter.

[2017-02-13 18:23] emylonas opened #51 "Appendix A: Recommended Attributes"
This Appendix contains a list of attributes, but they are
a) not linked to the elements on which they appear
b) don't explain which ones are mentioned in the BP document and which are "favorites"

Either get rid of the list, or make it more useful.

[2017-02-13 18:39] sydb commented on #10
Add `<listPerson>` and `<person>` (with `@role`) to level 4, including in table of elements. Also include `<birth>`; maybe `<langKnown>`?
@arouner to work on prose (either by posting here or in prose of level4.odd); @sydb will work on schema.

[2017-02-13 18:41] sydb commented on #11
`@sameAs` exists in levels 4 and 3; it does not currently exist in 2 and 1.

[2017-02-13 19:01] emylonas commented on #12
Level 4: require Author or editor of whole work, title and date. Can have access to the rest of the elements that can appear within `<bibl>`.

Note that for level 3, may want to allow some phrase level elements inside `<bibl>`

need to do prose and schema

[2017-02-13 19:31] sydb commented on #50
Implemented for levelN.odd at 939b9f537c193d1405f19ebf7b79592bfffea23e.

[2017-02-13 19:31] #50 closed, assigned to sydb

[2017-02-13 19:41] kshawkin commented on #51
For the record, I did some digital archeology and see that the last workgroup revising the BPTL had decided to create a list of all attributes that can be used within `<text>`: see [the original question](http://wiki.tei-c.org/index.php?title=Talk:Best_Practices_for_TEI_in_Libraries&oldid=7569#Pending_Review:_Use_of_any_P5_attributes), [item number 2 in the minutes of the June 2, 2010 meeting](htt

[2017-02-16 03:40] kshawkin commented on #21
Merged pull request, now closing.

[2017-02-16 03:40] #21 closed, assigned to kshawkin, emylonas

[2017-02-16 03:48] kshawkin commented on #9
During the BPTL meeting on 2017-02-13, I suggested that Syd only bother including those specialized elements that would be required in order to address the items in the bulleted list for `<editorialDecl>` in the "big header table".

[2017-02-16 03:50] kshawkin commented on #17
During the BPTL call on 2017-02-13, Syd and Elli agreed to collaborate on completing this.

[2017-02-16 03:55] kshawkin commented on #31
Yes, we're all set here.

[2017-02-16 04:05] kshawkin commented on #11
During the BPTL call on 2017-02-13, Syd agreed to implement this.

[2017-02-16 04:14] kshawkin commented on #12
Elli's comment above is what we decided during BPTL call on 2017-02-13.  We also decided to require use of `@when` on `<date>`.

Note that in the table of elements for Level 4, we use "recommended" for thing that are required and "optional" for things that are not required.  This is because, as described in the introduction:

However, this could change based on how we resolve https://github.com/ks

[2017-02-16 04:20] kshawkin opened #52 "reconsider our use of modal expressions"
The introduction to the BPTL says:

However, the "big header table" in fact uses "required" quite frequently.  Perhaps this is actually clearer to people.

Consider following practices discussed at https://github.com/TEIC/TEI/issues/1175 .

[2017-02-16 04:25] kshawkin commented on #45
During the BPTL call on 2017-02-13, we reaffirmed our decision on Jan. 9 to keep the attribute values as full words.

[2017-02-20 15:59] sydb opened #53 "transcriptional omissions"
The prose in 3.2 “Transcription” is confusing. (Ambiguous as to whether last sentence applies only to level 4 or all levels.) But moreover, why not suggest use of `<samplingDecl>`? Does it’s history as coming from the corpus linguistic community taint it?

[2017-02-20 16:32] emylonas commented on #17
`@n` has been removed by @sydb
Elli adds line for schemaRef to the table.

[2017-02-20 17:43] emylonas commented on #36
This seems reasonable to me and the example makes sense. You use the word "subscript" where you mean "superscript" in discussing it - doesn't matter unless it creeps into any of the BP prose!

Questions:
1. is the use of `<label>` required?
2. @kshawkin says, on Dec. 13, "Encode the notes themselves where they occur in the layout on the page, or if desired, move them so that they occur directly af

[2017-02-20 17:59] emylonas commented on #45
@kshawkin as I rewrite the EncodingDesc table to include information on the SchemaRef element, I am moving the MARC equivalent information:
<item>856 $z, which includes boilerplate text depending on encoding level and how the TEI document is presented to the user (as page images, text, or both)</item>
into the schemaRef line. Is the MARC information still correct.

[2017-02-21 03:06] kshawkin commented on #53
I agree that we need to clarify which level(s) the last sentence applies to.  I suggest saying that it applies to all levels.

As for use of `<samplingDecl>`, I recall that we felt that this was meant only for linguistic sampling, but I see now that http://www.tei-c.org/release/doc/tei-p5-doc/en/html/HD.html#HD52 contains a fine example that is not at all linguistic.  So you're probably right that

[2017-02-23 02:14] kshawkin commented on #17
A question related to this was accidentally posted under https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/45#issuecomment-281145071 .  Here's my response to that comment:

856 $z is used in MARC for text that should appear in a catalog record with the link to an online version.  Libraries may use standard statements like "Connect to online resource" or "Online version".  I be

[2017-02-23 02:37] kshawkin commented on #45
I've merged https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/pull/54 and then improved the XML comment meant to remind us to keep everything in sync.  However, I realize now that we've only revised the attDef for `<div>` but not for numbered div elements as well.  Elli, could you make the necessary changes for that?

[2017-02-23 02:49] kshawkin commented on #36
Yes, thanks for catching my accidental use of "subscript".

As for your questions:

1. I suggest making use of `<label>` required at Level 3 since I think this falls in scope of [the "purpose" of Level 3 given in the BPTL](http://www.tei-c.org/SIG/Libraries/teiinlibraries/main-driver.html#index.xml-body.1_div.4_div.2_div.4_div.2).

2. I had forgotten that we offered people the option to collate no

[2017-02-27 18:34] emylonas commented on #17
I am taking your response to mean that this is a valid piece of information and is correctly left in place in the table where we discuss schemaRef

[2017-02-27 18:56] kshawkin commented on #17
Yes, at least for now.  Thanks!

[2017-02-27 19:00] emylonas commented on #45
ok will do

[2017-03-06 15:28] emylonas commented on #45
I think this should be a class, if it's going to apply to several elements. @sydb where should I put the definition? then `<div>` and numbered divs can be members.

[2017-03-06 15:42] sydb commented on #37
Back on 2017-02-13 I created [ticket 1582](https://github.com/TEIC/TEI/issues/1582) on the TEI for this issue. So far there has been no discussion whatsoever. I don’t know if that’s a good thing or a bad thing. :-)

[2017-03-06 16:03] sydb commented on #10
Level 4 schema is fixed (at 828328c8b0ac229de7bf21a11fe61df63aae09d7) to have `<listPerson>`, `<person>` (with `@role`), and `<birth>`. I did not add `<langKnown>`. The table in level _4.2.5.5. Element Recommendations for Level 4_ includes all of these elements plus the wrapper `<langKnowledge>`, so we have a bit of a discrepancy that needs to be fixed.

The prose and example in _4.2.5.6.5. Level

[2017-03-06 16:53] emylonas commented on #36
ok, all makes sense. your response to point 3 above could have an edit to indicate "unanchored marginal notes".

[2017-03-06 18:15] sydb commented on #45
During BPTL call, we suggested a new class `att.BTPL.div.typed` to be put in lib-header.odd. (Yes, we’re mis-using lib-header.odd as a lib-common.odd, but that builds on our current somewhat lax practice.)

[2017-03-06 18:20] emylonas commented on #53
Revise wording so as to recommend `<samplingDecl>`, make changes in table and ODDs. Only allow `<p>` in `<samplingDecl>` if other header elements are similarly constrained.

[2017-03-06 18:23] emylonas commented on #51
Agreed during BPTL call on 2017-03-06 to remove it. make sure there are not references to this appendix in the prose

[2017-03-06 18:32] emylonas commented on #9
During the BPTL meeting, we agreed to remove `<interpretation>`, `<stdvals>`, and `<segmentation>`, leave red question marks in MARC record column, and remove last two bullet points under `<editorialDecl>`

[2017-03-06 18:45] sydb commented on #17
Schema and prose done. However, current processing of PureODD still leaves us with an open set of values, rather than a lovely drop-down list, but that is (I think) a TEI problem.

[2017-03-06 18:53] emylonas commented on #11
instead of adding `@sameas`, remove `<note>` from the body of level 1 and 2

[2017-03-06 18:56] sydb commented on #11
Per today’s conference call, seems like `@sameAs` is all set, but we want a constraint so that `<note>` is not permitted outside of header.

[2017-03-06 19:09] emylonas commented on #51
closed with  e519b72

[2017-03-06 19:09] #51 closed, assigned to emylonas

[2017-03-06 19:18] sydb commented on #11
Addressed at 953fc48

[2017-03-06 19:18] sydb commented on #9
Done at bdccd5c.

[2017-03-11 22:19] kshawkin opened #56 "consider <p> and <ab> inside of header elements"
TEI P5 has various header elements that contain prose description -- for example, `<availability>`.  P5 allows you to use either `<p>` or `<ab>`, but at in [the big table of header elements](http://www.tei-c.org/SIG/Libraries/teiinlibraries/main-driver.html#index.xml-body.1_div.4_div.1_div.6), we only mention `<p>`.  We should:

1. Consider whether to allow `<ab>` as well, advising the user to use

[2017-03-11 22:30] kshawkin commented on #36
During BPTL call on 2017-03-06, we agreed that I would implement the final consensus.

[2017-03-11 23:09] #11 closed, assigned to sydb

[2017-04-01 21:26] sydb commented on #53
Partially address in 7093f9c: I added `<samplingDecl>` to the table and schema, but I did not get a chance to change the prose.

[2017-04-02 02:16] kshawkin commented on #42
(a) and (b) done at https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/86351e524463c55a6eaa0bba854a973a1364413e .  As for (c), this should simply be picked up in the course of typing the BPTL to a newer version of P5, as in #2 .

[2017-04-02 02:16] #42 closed, assigned to kshawkin

[2017-04-02 02:41] kshawkin opened #57 "update "Acknowledgements""
In preparation for a release of the next version of BPTL, we should look at the text of "Acknowledgements" and think about how to update it.

Since the text of the BPTL is so far largely intact, I think that most of this should stay, though for anyone still involved, we'll need to update affiliations that are currently marked as "formerly of".  We should also add names who have participated in the

[2017-04-02 04:00] kshawkin commented on #7
In January we decided that I would draft the revision to share, but once I looked at it, I decided it is actually straightforward.  So I've implemented: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/e3bbd774215424ee3a35276072238b93f9377eaf .

[2017-04-02 04:00] #7 closed, assigned to kshawkin

[2017-04-02 15:43] kshawkin commented on #3
Have now revised section on punctuation: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/79c01ea776ef1ec91a30935630a0b5366aa5f64f .

[2017-04-02 15:43] #3 closed, assigned to kshawkin

[2017-04-02 20:38] kshawkin commented on #36
Implemented at https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/70c53f50ac45f7e333fc851a4027fbe623ab5e41 and https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/70183bc05f2e62e261b9b20327dd88b99ebf18d9 .

Regarding item 3 above, I actually decided to remove that sentence anyway: I think that the encoder should always determine the most likely implied point

[2017-04-02 20:38] #36 closed, assigned to kshawkin

[2017-04-02 20:42] kshawkin commented on #14
Done: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/cb03a7224c363b4895955b36f1d65a1f27c47038 .

[2017-04-02 20:42] #14 closed, assigned to kshawkin

[2017-04-03 17:15] kshawkin commented on #56
We agreed to allow only `<p>` inside the header.  Syd will make schema change (perhaps add Schematron rule) to make this happen.

[2017-04-03 17:26] kshawkin commented on #10
During BPTL call today, agreed to remove `<langKnown>` and `<langKnowledge>` from Level 4 table and schema because they're too specialized for Level 4.

[2017-04-03 17:34] kshawkin commented on #26
Elli agreed to take this on but welcomes collaboration.

[2017-04-03 18:24] sydb commented on #10
Removed `<langKnowledge>` and `<langKnown>` form schema & table at 688e9e4.

[2017-04-03 18:30] emylonas commented on #45
Level3.odd referenced model.divXlike in the element spec for each of the numbered divs. level4.odd did not. Removing them from level3.odd seems to have had no ill effects, so they are gone. Made class as above, referencing it from all appropriate div element specs.
Closing with efb53f3

[2017-04-03 18:30] #45 closed, assigned to emylonas

[2017-04-03 20:26] emylonas commented on #10
Has the prose in http://paramedic.wwp.northeastern.edu/~syd/temp/BPTL/main-driver.html#index.xml-body.1_div.4_div.2_div.5_div.6_div.5 been checked? It's not as clear as it  might be.

[2017-04-06 01:56] kshawkin commented on #53
During the BPTL call on 2017-04-03, Andrew agreed to finish the prose changes.

[2017-04-06 01:58] kshawkin commented on #47
During BPTL call on 2017-04-03, Elli said that she was intentionally delaying postponing this till we wrap up other issues.

[2017-04-06 02:04] kshawkin commented on #10
Checked with respect to the schema changes, or just edited for general clarity?  If the latter, we could let it get covered by #44 , but if you have specific suggestions for clarification, feel free to commit changes or do a pull request!

[2017-04-06 02:11] emylonas commented on #10
It can wait until #44. I think the bullet format for the list of options was a little confusing to me. It's more overall proofreading than problems reflecting the schema change.  also typo "poiints"

[2017-04-06 02:23] kshawkin commented on #10
Got it.  Typo now fixed: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/82b7103ee38158bda7a3e0437223a07e16539cf7 .  Will close this issue.

[2017-04-06 02:23] #10 closed, assigned to sydb

[2017-04-06 02:25] kshawkin commented on #16
During the BPTL call on 2017-04-03, we decided that we'd recommend encoding an entire volume or issue as a single TEI document in Levels 1 and 2 but recommend encoding individual articles as single TEI documents in Levels 3 and 4.  I will propose a solution to implement this for consideration by the group.

[2017-04-06 02:30] kshawkin commented on #19
During BPTL call on 2017-04-03, I agreed to ask Chris Powell for an example of integration with METS and @stefaniegehrke for an example of integration with IIIF.  Elli also agreed to ask a colleague who knows IIIF.

[2017-04-06 03:13] kshawkin commented on #46
During the BPTL call on 2017-04-03, we decided that TEI simplePrint is actually closer to Level 5.  We agreed to edit the description of Level 5 to say that if contemplating Level 5, you should consider whether TEI simplePrint is appropriate for your type of document(s).

I will implement.

[2017-04-06 03:14] kshawkin commented on #23
During the BPTL call on 2017-04-03, we decided to revise Level 5 to say that you might consider TEI simplePrint for your needs: #46 .  Given that, we should also revise the "Relationship to TEI Tite" section near the beginning of the BPTL to also discuss TEI simplePrint in brief.

I agreed to do this.

[2017-04-06 03:17] kshawkin commented on #28
During the BPTL call on 2017-04-03, I agreed to work on this with my cataloger colleague who will work on #13 .

[2017-04-06 03:35] kshawkin commented on #52
During BPTL call on 2017-04-03, we agreed that we will at least need to use "must" or a similar obligatory expression for cases where an attribute, if used, must have a value.  I agreed to think through this issue and propose something to the group.

[2017-05-08 14:59] arouner commented on #53
I am not sure this was all that was needing to be changed, but I changed just one paragraph to:

at Level 4 and above, the transcription in most cases would be complete. Any omissions of material found in the original work (at any encoding level) should be noted in the <samplingDecl> in the TEI header (departing from the previous version of the best practices which recommended omissions be noted i

[2017-05-08 15:00] arouner commented on #53
at Level 4 and above, the transcription in most cases would be complete. Any omissions of material found in the original work (at any encoding level) should be noted in the <samplingDecl> in the TEI header (departing from the previous version of the best practices which recommended omissions be noted in the <editorialDecl>.)

[2017-05-08 15:09] arouner commented on #53
I did not attempt to branch/commit etc.  Should lib-header.odd also be changed where it says "<item>notes about omissions of material found in the original work</item>" under <tag>editorialDecl</tag>?

[2017-05-08 15:42] arouner commented on #53
I qualified "at Level 4 and above, the transcription should be complete" with "in most cases" imagining that there might be a project which needed relatively sophisticated encoding but which did not include all of a given original text--I certainly could have misinterpreted the encoding level here.

[2017-05-08 17:44] sydb commented on #57
- Add something like “version 3.0”, “version 3.1”, or “versions 3.0 & 3.1” parenthetically after people's names as appropriate.
- Add missing people.
- Instead of "formerly of" with affiliations, use:
-- a solidus between institutions if person has changed institutions
-- “(Ret.)” for those who have retired
- The “writing” section is for those who contributed to the GitHub repository (or suggested

[2017-05-14 18:48] kshawkin commented on #53
During the BPTL call on 2017-05-08, we agreed that Syd would finish the work on this issue.

[2017-05-14 18:51] kshawkin commented on #13
I met with my colleague on 2017-05-06 and made a lot of progress, including on correcting MARC mappings.  Have compiled all proposed changes and asked him to verify.

[2017-05-14 18:53] kshawkin commented on #28
Met with my colleague on 2017-05-06.  He said that BIBFRAME is still in flux and is in any case unimplemented, so we decided not to try to address in the current revision to the BPTL.

[2017-05-14 18:53] #28 closed, assigned to kshawkin

[2017-05-14 18:56] kshawkin commented on #37
During the BPTL call on 2017-05-08, Syd reported that Council has acknowledged this issue but not addressed it yet.

[2017-06-19 15:00] sydb commented on #56
Done (at 91f5f3f):

1. Updated version # to 3.2.0a
2. Added Schematron rule that complains about `<ab>` inside `<teiHeader>`

Did NOT test yet.

[2017-06-19 15:00] #56 closed, assigned to sydb

[2017-06-19 15:15] sydb commented on #53
I **think** (but am not sure) that between us, Andrew & I have caught all the bits that need to be updated. Last tweak on this was to actually change 3.3 Transcription (which used to be 3.2, I guess). Done at 3651767.

[2017-06-19 15:15] #53 closed, assigned to sydb, arouner

[2017-06-19 16:27] emylonas commented on #26
Prose to add to 3.8.3

provide alternative to the Shakespeare `@key` example using the LC linked data URL http://id.loc.gov/authorities/names/n78095332

why do we have the `@type="marc100"` ?

and do we keep the GTN (Getty) ex? or should i just replace it with an `@ref` attribute instead, for ex. using the geonames example above? It wouldn't require glossing with a `<taxonomy>` or `<listPlace>`

[2017-06-19 17:28] kshawkin commented on #26
During the BPTL call today, we realized that Elli was proposing revisions to vesion 3, not to the latest prose as already revised in implementing #5 .  She will review the latest version ( http://paramedic.wwp.northeastern.edu/~syd/temp/BPTL/main-driver.html#index.xml-body.1_div.3_div.9_div.3 ) and consider whether more illustrations here or elsewhere in the BPTL would be helpful.

[2017-06-20 20:06] kshawkin commented on #44
@jrgriffiniii wrote to me today to say that he's transitioning to a new institution and ca no longer commit to doing this proofreading for us in the near future.

[2017-06-28 14:57] kshawkin commented on #19
I still haven't had a chance to pick this up, but I'll note that we might find this discussion of IIIF helpful: https://listserv.brown.edu/archives/cgi-bin/wa?A2=TEI-L;205cb507.1706

[2017-07-16 03:00] kshawkin commented on #16
Recommend adding a second paragraph to section 3.3. ("Transcription"):

[2017-07-16 17:32] kshawkin commented on #19
I've just realized that the BPTL already links to a sample METS document, so we don't need that. I've also found a TEI document hosted at Indiana that goes with that METS document, allowing me to revise the sentence in the original ticket to clarify how the linking works (see https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/d66fdcb6d1480a725211702406549478613eae2d )

So what'

[2017-07-16 18:37] kshawkin commented on #46
Done at https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/45d9f018517dc99d525968f92720ac1a9e481bb6 .

[2017-07-16 18:37] #46 closed, assigned to kshawkin

[2017-07-16 21:00] kshawkin commented on #23
Implemented at https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/27527efbcb7aa728ad1d5f1e74d59cf0b3220e1e .

[2017-07-16 21:00] #23 closed, assigned to kshawkin

[2017-07-16 22:34] kshawkin commented on #52
To review: While the TEI Guidelines are "guidelines" (which sounds like nothing is mandatory), P5 generally uses "must" for situations that are mandated by the schema.  On the other hand, while the BPTL document is "best practices" (which also sounds like nothing is mandatory), version 3.0 of the BPTL takes a different approach but is inconsistent, as explained above in the original issue.

I prop

[2017-07-16 22:38] kshawkin commented on #13
Nudged my colleague today to see if he wants to verify the changes or if we should go ahead and implement.

[2017-07-16 23:35] #57 closed, assigned to kshawkin

[2017-07-18 17:51] emylonas commented on #44
During today's BPTL call, we decided that once we've implemented all other non-dormant issues, we'll ask for comments on TEILIB-L.  Once we've made any adjustments based on comments, we'll ask for a volunteer to proofread the whole thing closely.  If we don't get any, Syd will ask if a WWP encoder could take on this job, or Kevin might ask one of his employees with an interest in DH to do it.

[2017-07-18 18:01] emylonas commented on #37
wait until Oct 15, 2017 - if Council hasn't fixed this, then remove `<gi>` and `<att>` elements from schematron rules. Make sure ahead of time that usage is correct for ex, `persName` _element_, and `@type` _attribute_

[2017-07-18 18:27] kshawkin commented on #16
Elli will tweak prose and implement.

[2017-07-19 01:49] kshawkin commented on #52
During the BPTL call today, Syd and Elli agreed to review my proposal in the previous comment.  If they approve, I will implement.

[2017-07-19 02:26] kshawkin commented on #19
Syd has regenerated the output.  Here's my proposed message to send to TEI-L, to be sent as a reply to the latest message on the topic:

[2017-07-19 02:32] kshawkin commented on #13
Let's assume that we'll move ahead.  I've attached a DOCX file with track changes showing what we agreed upon.  Syd agreed to do the drudge work of implementing this (THANK YOU!), so I'm reassigning to him.

Syd, if you have trouble viewing the file in OpenOffice (I've found that OpenOffice does better with DOC than DOCX, let me know and I'll send email in that format.  (GitHub won't let me upload

[2017-07-19 02:39] kshawkin commented on #19
During today's call, we agreed that Elli would review my proposed message, possibly consulting with colleagues who know IIIF, before I send.

[2017-08-14 17:00] emylonas commented on #16
Edited.

[2017-08-14 17:15] emylonas commented on #16
close with b4bb36a

[2017-08-14 17:45] emylonas commented on #26
"Readily available software" ?? At least "software" or "simple tests can check"

"XSL and other software scripts can then check when encountering ref="#geo_0034" that xml:id="geo_0034" exists elsewhere in the document."

Also
"Just as the TEI Guidelines no longer recommend use of the key attribute, these Best Practices also recommend use of tag URIs in order to create unique local identifiers."

p

[2017-08-14 17:55] emylonas commented on #26
Added a viaf link as well.
I think it's ok. Perhaps slight edits as noted above.

[2017-08-14 18:42] emylonas commented on #26
Is this a better link for RFC 4151?  [http://www.ietf.org/rfc/rfc4151](https://tools.ietf.org/html/rfc4151) rather than [http://www.ietf.org/rfc/rfc4151.txt](http://www.ietf.org/rfc/rfc4151.txt) which is what we (and the TEI) have now? @sydb @kshawkin

[2017-08-14 18:46] emylonas commented on #26
Finished with d51b461

[2017-08-15 01:16] kshawkin commented on #26
I don't see the difference between the two URLs for RFC 4151 that you pasted ...

[2017-08-15 02:43] emylonas commented on #26
yes, there was no difference in the link text, but now that I fixed that, you'll see in comment above that one has `.txt` at the end, and the other doesn't. Latter takes you to a page that offers a variety of displays (`.txt`, `.html` and so on)

[2017-08-15 13:54] kshawkin commented on #26
I see.  I suppose the one without ".txt" is better.  The search feature on the IETF website seems to treat that as the main version.

[2017-08-15 14:17] emylonas commented on #26
closed with 7225038

[2017-08-15 14:17] #26 closed, assigned to emylonas

[2017-08-15 19:44] emylonas commented on #52
one slight word-smithing change to the introduction text:
it says
`the ODD files will generate schemas that require even use of recommended elements `
change to
` the ODD files will generate schemas that also require the use of recommended elements`
or
` the ODD files will generate schemas that require the use of recommended elements`
that `even` was confusing me.

[2017-08-15 20:00] emylonas commented on #19
The proposed message is fine. we could clarify that we are interested in linking to whole images, and not zones on an image.
`reference page images accessible through a IIIF API `
could be
`reference whole page images accessible through a IIIF API `

Otherwise, go ahead and send!

[2017-08-16 01:04] kshawkin commented on #19
Message sent: https://listserv.brown.edu/archives/cgi-bin/wa?A2=TEI-L;d7d87822.1708

[2017-08-21 20:44] emylonas commented on #47
**1)**
[code]

Intentional.
Several people with the same responsibility can be in the same `<respStmt>`; a person with more than one responsibility will appear in multiple `<respStmt>`s.

**2)**
[code]

`<constraintSpec>` can now be a child of `<specGrp>` so we will modify accordingly. The `<constraintSpec>`s  should be direct children of the `<specGrp>` they are currently in.
DONE

**3)**
[code]

[2017-08-21 20:52] emylonas commented on #47
Previous comment has item by item decisions on Lou's observations. Two of them need further discussion

5)
[code]
List probably added after BPTL recommendation. Should consider copying TEI

6)
[code]
It is intended to only be used for one element only - that is the `<div>` element
We could change it to allow other tagUsages and continue to require information on `<div>`

[2017-08-26 04:06] kshawkin commented on #47
For (5), the prose of the BPTL says that you can use other values not in the list. As Elli said, the list was added to P5 after the BPTL v. 3.0 was created.  This list should be revisited once #13 is fully implemented (since the pending proposal is to add some values).

[2017-08-27 02:19] sydb commented on #52
I think the proposal is fine, and (in general) we should go with it. I think Elli is right that the last sentence deserves word-smithing, but would be even more blunt:

or some such.

[2017-08-27 03:37] kshawkin commented on #52
Revised proposal ...

1. Copyedit the text in the introduction as follows:

2. In Level 2, change

to:

3. In "Element Recommendations for Level 4", remove the row for `<head>` since the statement about the first child is technically inaccurate and any revision to make it accurate would state the obvious.

4. Search elsewhere for use of "must" and "required" and check whether the practice describe

[2017-08-27 16:25] sydb commented on #13
Done at commit db6ed0f

**Issues**

* section 4.1.5, para 1: I encoded “International Standard Bibliographic Description” and “Resource Description and Access” as `<title>`s, with the abbreviation following in parens, copying previous practice.
* Ibid, “… that has replaces the Anglo-American …”: changed “replaces” to “replaced”.
* The table row `<title type="___">` has the line “For all, use the r

[2017-08-28 16:18] emylonas commented on #12
## How to proceed
### Level 3:

- Add information about `@type="bibliography"` in Element Recommendations for Level 3 `<div>`
- Add section 4.2.4.6.5 on how to encode bibliography -
    - note that it can appear in `body` ( if attached to a chapter, for ex.) or `back`.
    -  `<head>` should be in the `div`and not the `listBibl`.
    - no further bibliographic markup appears inside the `<bibl>`.

[2017-08-28 17:55] emylonas commented on #47
Notes from discussion during BPTL call on 2017-08-28:

5) Syd will change `OCLC_control_number` to match TEI suggested value `OCLC` and add sentence pointing to TEI suggested values.

6) not changing, intentional

[2017-08-30 02:29] kshawkin commented on #19
During BPTL call on 2017-08-28, we considered [what Elli learned from the IIIF meet at DH2017](http://lists.lists.tei-c.org/pipermail/tei-council/2017/024523.html) and what I learned from an off-list response to his message to TEI-L.  After some discussion, we decided that I would simply add some prose to this section of the BPTL to say that IIIF is an alternative technology worth considering but

[2017-08-30 02:30] kshawkin commented on #13
During the BPTL call on 2017-08-28, I thanked Syd for his close reading of the changes while making these edits.  I agreed to review his notes above before closing this issue.

[2017-09-03 02:21] kshawkin commented on #13
Following up on Syd's notes, everything is fine, though I note the following corrections and additional comments.

Correct, it is supposed to be in the row for `<author>`.

This was shorthand for "Use the `@when` attribute (see att.datable.w3c class) instead of free text as content of the element to aim machine processing".  I'm open to a suggestion for a more precise wording.

The encoder may not

[2017-09-03 02:22] kshawkin commented on #44
When proofreading, standardize on either "such as" or "e.g.".  I prefer "such as" because I find it to be more transparent (not requiring that you know the meaning of this Latin abbreviation).

[2017-09-03 02:33] kshawkin commented on #9
In lib-header.odd, we've imposed a sequence on members of a class to require users to put them in the order listed in the big header table—see, for example, the `elementSpec` for `encodingDesc`.  Given that, I think we should do the same for `editorialDecl`, requiring the following content model (in DTD syntax):

p, p, p, p, p, p, correction, hyphenation, normalization, punctuation, quotation

[2017-09-03 02:46] kshawkin commented on #52
Postponing to make sure that my sweep of modal expressions doesn't miss any other late changes.

[2017-09-04 23:50] sydb commented on #47
5. done at 1e9681f.

[2017-09-05 00:46] sydb commented on #13
OK. At b8a86d4 I've moved the “For all, use …” to the `<author>` row, and re-worded the comment about `@when` of `<date>` inside `<publicationStmt>`.

[2017-09-05 01:20] sydb commented on #9
Have to say I'm not crazy about this idea. Nonetheless, implemented at baa8dd1.

[2017-09-05 11:35] lb42 commented on #9
This looks bonkers to me. If you want to allow p to intertwingle with the other more specialised elements rather than be used as an alternative to them then you can't at the same time require an order for the latter without imposing an order on the former.  Your current model insists that any p has to precede the other elements so it's not interwingling at all. I say nothing of the ridiculousness

[2017-09-05 14:54] kshawkin commented on #9
The title of this issue is misleading now that we settled on using five the specialized child elements plus five `p` elements for things not addressed by specialized elements.  So disregard any notion of "intertwingling" in thinking about what Syd has implemented.

[2017-09-05 15:23] emylonas commented on #9
@kshawkin @sydb let's discuss this in our next call for a few minutes.

[2017-09-05 15:44] sydb commented on #9
True, but @lb42 still has somewhat of a point. Unless we are actually going to require there be exactly 6 `<p>` elements to represent the 6 bullet points in the table, even if some of them are empty, there is no way for software to automatically extract even the correct bit of prose. In which case, there is no particular reason to require that there be a one-to-one relationship between paragraphs

[2017-09-05 15:48] lb42 commented on #9
Why don't you introduce new elements for the  five "things not addressed by specialized elements" if you know what they are? If not wouldn't it be better to use &lt;ab> than &lt;p>, since it has a @type attribute?

[2017-09-05 16:05] emylonas commented on #9
I agree that @lb42 has a point, and even more so when you see that @sydb 's implemention makes the `<p>` elements optional and doesn't require there to be 6. Unless we are worried about backwards compatibility, I'd go with the TEI definition of encodingDecl, perhaps removing `<p>` and using `<ab>` instead. And we could consider adding type attributes. But not necessarily. Most of this isn't going

[2017-09-11 08:17] sydb commented on #47
Note — I think we’re done with this issue, just leaving it open for @kshawkin to check values of `@type` of `<idno>`.

[2017-09-11 08:20] sydb commented on #9
I also like `<ab>` with a (required) `@type`, except that (IIRC) we have previously decided to only use `<p>` in the TEI header, never `<ab>`.

[2017-09-11 08:45] lb42 commented on #9
Maybe that's a decision worth reviewing? It has always seemed to me that blocks of text in tnhe header are not really paragraphs in the same way as paragraphs in the body of a text are....

[2017-09-11 08:52] sydb commented on #9
I agree, both because
a) `<p>` elements in the body of a text are descriptive: “I see a paragraph here”. `<p>` elements in the header are speech acts: “I hereby tell you this thing is a paragraph”.
a) some “paragraphs” in the header do not actually meet the usual criteria for paragraphs

[2017-09-11 10:09] lb42 commented on #9
Well, all markup is a kind of speech act, whether in the header or elsewhere. Seems to me that the chunks of text you find in the header are not present in the document being encoded, but added to it (they might come from some other document, of course, which complicates the argument). But in general it is quite likely that they wont be structurally or semantically the same as chunks of text in th

[2017-09-11 15:01] kshawkin commented on #9
We decided in April 2017 to allow only `<p>` instead of only `<ab>`: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/56 .  We don't have minutes from that meeting, but I think we felt that distinguishing between complete sentences and fragments was unimportant to users of the BPTL, and we were reluctant to break with longstanding practice of using `<p>`s within the header ev

[2017-09-11 15:11] kshawkin commented on #47
That works.

[2017-09-11 15:11] #47 closed, assigned to emylonas

[2017-09-11 17:28] kshawkin commented on #9
During discussion during BPTL call today, we decided:

1. Fix "│" and "├" on line for `editorialDecl/p`.
1. Move the row on `editorialDecl/p` to be after the specialized child elements of `editorialDecl`.
1. Move the first bullet under `editorialDecl/p` to be the last and reword to say something like "any other editorial decisions".
1. Revise sentence introducing the bullets to say something like

[2017-09-11 17:36] #9 closed, assigned to sydb

[2017-09-11 17:44] kshawkin commented on #52
During BPTL call, Elli agreed to work on prose for step 4.  Syd may help out examining Schematron rules that also use "must" or "required" to check them as well.

[2017-09-11 17:49] sydb commented on #52
Elements that contain “must” or “required”, excluding those in `<egXML>`:

[code]

[2017-09-11 20:23] sydb opened #60 "breaks broken"
The `att.breaking` elements are:
 * `<cb>` = column begin
 * `<gb>` = gathering begin
 * `<lb>` = line begin
 * `<pb>` = page begin
 * `<milestone unit="somethingElse">` = boundary between somethings else

We allow:

schema | cb | gb | lb | pb | milestone
----------|----|----|----|----|--------
level 1 |    | gb |    | pb |
level 2 |    | gb |    | pb |
level 3 | cb | gb | lb | pb |
level 4 |    |

[2017-09-12 00:42] kshawkin commented on #60
Agree that `cb` needs to be in Level 4.  As for `gb`, we haven't discussed that element anywhere, and my sense is that it's so specialized that we'd consider that to be Level 5 encoding (and thus we don't need to add it to anything).

[2017-10-23 02:47] emylonas commented on #60
agree -- `<cb>` and `<lb>` in levels 3, 4, `<gb>` removed completely

[2017-10-24 21:22] sydb commented on #12
Fixed at f1f222d.

[2017-10-24 21:22] #12 closed, assigned to emylonas

[2017-10-25 02:59] kshawkin commented on #37
Oct. 15 has passed, so removing the postponed label.

[2017-10-27 18:53] sydb commented on #37
Re: last remaining issue, use of `<gi>`, `<att>`, and `<val>` is flagged as invalid by tei_odds.

Council agreed at yesterday’s conference call that it is the schema that is in error: any elements from any namespace other than Schematron’s own may appear in `<sch:assert>` or `<sch:report>`.

[2017-10-27 18:53] #37 closed, assigned to sydb

[2017-10-27 19:14] #60 closed, assigned to sydb

[2017-10-27 19:15] sydb commented on #60
Fixed at 10f6eb2. We now allow:

schema  | cb | gb | lb | pb | milestone
--------|----|----|----|----|--------
level 1 |    |    |    | pb |
level 2 |    |    |    | pb |
level 3 | cb |    | lb | pb |
level 4 | cb |    | lb | pb |

[2017-10-30 18:52] emylonas commented on #52
closing with 5315d08

[2017-10-30 18:52] #52 closed, assigned to sydb, emylonas

[2017-11-05 17:48] kshawkin commented on #44
Syd is working to fix the rendering in the HTML output to insert bibliographic info at the top and remove the phrase in parentheses.  Once that's done, Kevin will need to copy over files to http://www.tei-c.org/SIG/Libraries/teiinlibraries/3.1.0a/ and build a parallel system for past versions of the BPTL.

In the meantime, here's my draft call for comments:

[2017-11-13 00:27] kshawkin commented on #44
Syd wrote today that he won't be able to fix the rendering soon, so we agreed that in the meantime I would hand-edit main-driver.html to fix the rendering issues.  That's now done.  I've asked Ian to enable the viewing of an Apache directory listing for http://www.tei-c.org/SIG/Libraries/teiinlibraries/3.1.0a/ .

Once that's done, I can send this message, plus update http://purl.oclc.org/NET/teiin

[2017-11-16 22:27] kshawkin commented on #44
Ian enabled the viewing of the directory listing yesterday, but I've been busy.  Will finally announce this weekend.

[2017-11-19 00:22] kshawkin commented on #44
Message just sent to teilib-l and TEI-L.

[2017-11-19 13:37] kiyonoriNagasaki opened #62 "3.8. Linking Between Encoded Text and Images of Source Documents"
Dear all,

Thank you very much for the tremendous work. I would like to adopt it in various cases.

By the way, regarding mention of IIIF in "3.8. Linking Between Encoded Text and Images of Source Documents", while IIIF specifications will be updated soon from 2.x to 3.x, I would like to suggest to include a sentence like following in the middle of the paragraph treating IIIF:

A facs attribute ca

[2017-11-23 11:23] eiamjw opened #63 "3.9.3. ref and tag URIs"
The suggested mechanism for adding standard identifier for named entities only works if there is only one entity. The example given is this one:

 `<persName ref="http://viaf.org/viaf/31995584">Emily Dickinson</persName>`

However, it might be desirable to associate more than one identifier with a person, using identifiers from different vocabularies, and this cannot be done with multiple 'ref' at

[2017-11-23 14:08] lb42 commented on #63
There is an important difference between person and persName however

[2017-11-23 14:27] eiamjw commented on #63
Actually, in my real-life example, the outer element is author, not person.

[2017-11-26 20:34] kshawkin commented on #19
On addressing use of IIIF, see https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/62 .

[2017-11-28 20:33] kshawkin commented on #27
When we return to this, consider https://listserv.brown.edu/archives/cgi-bin/wa?A2=TEI-L;cfe400f7.1711 .

[2017-12-06 11:28] Martin-de-la-Iglesia opened #64 "section on FRBR?"
Some colleagues and I are working on recommendations for encoding FRBR relations in the TEI header, and we're wondering whether this could be published as a section within BPTL. Any opinions, anyone?

[2017-12-06 11:42] lb42 commented on #64
Would it not be useful to propose a new section in the guidelines? Then the council would have to have to agree too!

[2017-12-06 11:47] Martin-de-la-Iglesia commented on #64
I don't know, would it really? I thought FRBR was a rather specialised and esoteric thing that maybe some librarians might be interested in, but not the TEI community at large.

[2017-12-06 15:22] kshawkin commented on #64
I've heard FRBR mentioned a number of times over the years at TEI conferences, often by non-librarians, so there is a certain level of awareness, at least of the Group 1 entities of FRBR.  Furthermore, the Guidelines already include some library-specific information, notably http://www.tei-c.org/release/doc/tei-p5-doc/en/html/HD.html#HD8 .

My understanding, though, is that while RDA uses the FRBR

[2017-12-07 09:28] Martin-de-la-Iglesia commented on #64
It's my feeling too that Bibframe is the future, but there's still a legitimate demand for FRBR. Anyway, the solution(s) we have in mind would allow for Bibframe and FRBRoo relations too.

[2017-12-07 14:47] kshawkin commented on #64
Okay, looking forward to seeing your solution(s).

[2017-12-18 16:28] sydb commented on #63
Yup, using multiple `<idno>`s to indicate multiple name authority records for a single named entity makes perfect sense. (It gets quite confusing if you allow multiple authors to be listed in a single `<author>` — this is one of the reasons the BPTL Guidelines specifically say one author per `<author>`). This is, of course, in the bibliographic context, since that’s where `<author>` occurs.

Note

[2017-12-18 16:41] sydb commented on #62
Makes sense to me and @emylonas. How about having the last para of [3.8](http://www.tei-c.org/SIG/Libraries/teiinlibraries/3.1.0a/main-driver.html#txtimglnk) read

[2017-12-19 01:39] kshawkin commented on #62
Some further rewording:

(There are a few different APIs specified by IIIF, so we need to specify the correct one.)

[2017-12-19 01:43] kshawkin commented on #63
So then the suggestion is to replace

with a fuller example:

?

[2018-01-05 13:04] guelferbytanus commented on #27
I consider it extreemly important to provide some information about how to accomodate OCR output containing coordinates and providing text alone according to level 1-3 seems to me highly insufficient, as we are loosing a lot of information we have anyway. Coordinates are important so as to address both text elements and non-text elements in an image and may also be used to attach annotations to im

[2018-01-06 16:57] kshawkin commented on #27
Thomas, thanks very much for your interest in this.

Could you encode a full example for us?  Since the BPTL uses so many examples of [the Alger Hiss document](http://hdl.handle.net/2027/spo.hiss1111.0127.005), I suggest the following:

1. Download at least one page of this document (when viewing a page, use the dropdown in the upper left to change to PDF view).
1. Run through OCR software that cr

[2018-01-07 11:55] guelferbytanus commented on #27
Kevin,
thanks for coming back. I'll do my very best to provide the desired
information. However, as I am swamped with work at the moment I am not
sure that it can be accomplished in one week time. Would a deadline of
say 17th of June  suit you?
Best,
Thomas

Am 06.01.2018 um 17:57 schrieb Kevin Hawkins:

--
***************************************
Prof. Dr. Thomas Stäcker
Direktor der
Universitäts-

[2018-01-07 14:46] kshawkin commented on #27
We plan to release the revised BPTL before June.  Did you mean Jan. 17?  By then, or the following week, would be fine.

[2018-01-07 20:00] guelferbytanus commented on #27
This won't be a problem.
Best
Thomas

Am 07.01.2018 um 15:46 schrieb Kevin Hawkins:

--
***************************************
Prof. Dr. Thomas Stäcker
Direktor der
Universitäts- und Landesbibliothek Darmstadt
Magdalenenstr. 8
64289 Darmstadt
+49 (0)6151 16-76200
direktion@ulb.tu-darmstadt.de

[2018-01-08 17:28] kshawkin commented on #64
Martin, the workgroup will meet again on Jan. 23.  Do you think you could have a proposal for us to examine by then?

[2018-01-08 17:29] kshawkin opened #66 "new section on METS"
We should review this pull request:

https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/pull/65

[2018-01-08 17:49] kshawkin opened #67 "update Acknowledgements after public comment period"
Acknowledge those who contributed during the public comment period.  See comment from May 8, 2017 on #57 for what to indicate.

[2018-01-09 08:30] Martin-de-la-Iglesia commented on #64
Yes, that seems feasible. We'll start writing something up next week.

[2018-01-14 09:47] guelferbytanus commented on #27
Kevin,

please find attached to this email

a) the first page of the Alger Hiss document, OCRed and exported to the
ALTO Format (kindly operated by Timo Steyer from Wolfenbuettel):
0001_coram_nobis_petition-1.xml
b) a provisional XSLT script  containing some notes on the conversion of
ALTO to TEI (other standards such as PAGE could be treated equally):
alto2tei.xsl
c) the resulting TEI fragment (<

[2018-01-14 16:34] kshawkin commented on #27
It appears that GitHub does not allow you to attach files when replying to issues by email.  Please click the "view it on GitHub" link at the bottom of this message and then attach the files through the web interface so that I can see them.  Thank you!

[2018-01-14 20:05] guelferbytanus commented on #27
Done:
[alto2tei-files.zip](https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/files/1629763/alto2tei-files.zip)

[2018-01-14 22:39] kshawkin commented on #27
I can only find (a) inside the ZIP file.  :(

[2018-01-15 07:53] guelferbytanus commented on #27
That's strange. When I open the ZIP file from Git, everything is fine. However, I packed it again with annother packer. Unfortunally Git doesn't allow uploading XML or XSLT single files.  Hope, it works this time: [alto2tei-files2.zip](https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/files/1630758/alto2tei-files2.zip)

[2018-01-16 04:30] kshawkin commented on #27
Yes, this one contains (a), (b), and (c) above (and none of the extra files and subdirectories that I found in alto2tei-files.zip).  Thank you.

[2018-01-22 11:34] Martin-de-la-Iglesia commented on #64
[Proposal text below; please discuss.]

4.1.4 The TEI Header and FRBR
-----------------------------------------------

FRBR (Functional Requirements for Bibliographic Records) is a model developed by IFLA.[1] At its core, FRBR consists of four levels - Work, Expression, Manifestation, and Item (‘WEMI’) - and the three relationships between those levels, realization, embodiment, and exemplar. Furth

[2018-01-22 15:34] kshawkin commented on #64
Martin, thanks for this detailed explanation.  A few things:

1) In your markup samples in (a) and (c), is it okay to replace instances of `http://purl.org/vocab/` with `http://vocab.org/`?  They all seem to redirect.

2) When editing the Best Practices document, we have tried to recommend a single way of doing things and only offer more than one way when the editors of the document could not agre

[2018-01-23 09:39] Martin-de-la-Iglesia commented on #64
1. It probably doesn't matter much, but the rdf:about statements in the specification at http://vocab.org/frbr/core.rdf include the purl.org part, so I would prefer to keep it too.

2. Yes, in the end it would be preferable to have only one recommendation, but I couldn't make up my mind which one. Therefore I'd like to leave that decision to the BP editors.

[2018-01-23 16:41] emylonas commented on #62
@sydb and I agree, let's include prose as it @kshawkin posted above.

[2018-01-23 16:43] emylonas commented on #63
let's go for it. assigning to myself

[2018-01-23 16:48] emylonas commented on #64
@sydb has a mild preference for option (c) . I agree. When/If TEI addresses this, we can follow their recommendation.

Where would this go? which levels does it apply to? do we have bibliography in BPTL sections?

[2018-01-23 16:52] sydb commented on #64
I also think it is probably important to cite the seminal paper on this topic: [Renear’s 2003 paper](http://conferences.idealliance.org/extreme/html/2003/Lawton01/EML2003Lawton01.html) (or the [PDF thereof](https://www.ideals.illinois.edu/bitstream/handle/2142/11885/Renearetal03.pdf?sequence=2))

[2018-01-23 18:17] sydb commented on #66
Pull request merged, now we have a bit of tweaking to do.

[2018-01-23 18:39] kshawkin commented on #64
Syd and I discussed today, and he's having second thoughts about (c).  He's going to propose a modification of this code sample for us.  If we're good with it, we'll incorporate into the BPTL.

By the way, we assume that Martin's suggestion above (for section 4.1.4) is meant to be a new section inserted before the current section 4.1.4.

[2018-01-23 19:10] emylonas commented on #27
@guelferbytanus could you explain why you think that `<sourceDoc>` with the ALTO output should only appear on levels 1-3?

Also, can you say more about how you could use `<sourceDoc>` only, without `<text>`, for levels 2 and 3?

[2018-01-23 19:13] emylonas commented on #27
In order to proceed we need to consider

- whether this should entirely replace level 1 or in exist parallel with it
- whether at higher levels it would have exist to in parallel or could stand alone
- describe the interactions of the `<zone>`, `<line>`, `<surface>` elements with the encoded text

[2018-01-23 19:20] emylonas commented on #66
from pull request comments, about tweaking:
@sydb  and I looked it over. It's fine to merge. However, post merge, would make following tweak:
change `that is complete  <gi>teiHeader</gi> tags can be included in METS metadata alongside MARC, MODS and DC. METS specifies 'TEIHDR' to indicate a TEI Header. `
to
` that is a complete <gi>teiHeader</gi> element can be included in METS metadata alongside

[2018-01-23 20:43] kshawkin commented on #67
So far, add the following under "contributed to the writing of this document":

* Stuart Yeates, Victoria University of Wellington
* Martin de la Iglesia, Herzog August Bibliothek Wolfenbüttel
* Martin Wynne, University of Oxford
* Kiyonori Nagasaki, International Institute for Digital Humanities
* Thomas Stäcker, Universitäts- und Landesbibliothek Darmstadt

Add the following under "contributed t

[2018-01-24 00:41] sydb opened #68 "facsimile fractured"
The entry in the table at the beginning of section 4 (file main-driver.odd, circa line 968) says:

[code]
1. There is no element with ID "Linking"
2. The content of the `<ref>` is clearly messed up, too.

[2018-01-24 00:44] kshawkin commented on #68
That is an artifact of our conversion of MediaWiki markup to TEI back before version 3.0 was released in 2011.  I've fixed it.

[2018-01-24 00:44] #68 closed, assigned to nobody

[2018-01-24 01:11] sydb commented on #64
How about just changing `@corresp` (which means roughly “this `<relatedItem>` corresponds to that thing over there in some specific, e.g. one-to-one, relationship”) to `@ana` (which means roughly “it is my analysis of this `<relatedItem>` that it has something to do with that thing over there”); in this case, that thing over there expresses the kind of relationship this `<relatedItem>` has to … wh

[2018-01-24 01:43] sydb commented on #62
Done (with some minor tweaks) at a1fc8c608ff2820df2d798915e88dfab8c7ffa8c.

[2018-01-24 01:44] kshawkin commented on #64
I believe that a `relatedItem` nested inside a `bibl` should be interpreted to express a relationship to its parent `bibl`, not the entire TEI document.  That would be consistent with how TEI markup is generally interpreted.  Syd, is there any reason you would think that `relatedItem` would express a relationship to the entire TEI document?

[2018-01-24 01:45] sydb commented on #66
I actually did some more significant re-wording. Commited at a1fc8c608ff2820df2d798915e88dfab8c7ffa8c. Take a look. As often, there is a temporarily available [HTML version](https://bauman.zapto.org/~syd/temp/BPTL/main-driver.html) to read.

[2018-01-24 09:47] Martin-de-la-Iglesia commented on #64
@kshawkin Yes, I meant this new section to go roughly where 4.1.4 is now in the current BP document.

@sydb I thought I had read somewhere that `@corresp` would be suitable for RDF-style predicates, but I'm not so sure about it anymore. `@ana` seems fine too.

[2018-01-24 15:27] emylonas commented on #66
@sydb did you take a look at section 3.8:
`For those projects relying on the Metadata Encoding and Transmission
Standard (METS), the xml:id attribute is used as a conceptual identifier
for content as opposed to an explicit pointer (i.e., facs attribute) to a
specific representation of that content. These identifiers are then used to
generate a METS document that bundles the various content types (

[2018-01-24 15:45] lb42 commented on #64
Jusdt a quick comment as I havent had time to read the proposed text carefully: is this going to be a new section for the Guidelines or for the BP document? Because if the former (which was my original suggestion), there's no need to choose one of the recommended methods. Au contraire: the Guidelines should present the full variety of what makes sense, with the merits and demerits of each.

[2018-01-24 15:47] lb42 commented on #66
" is used as a conceptual identifier for content as opposed to an explicit pointer (i.e., facs attribute)" is a bit clumsy. How about "provides an identifier for a piece of content, but does not reference any specific representation of it"

[2018-01-24 16:16] kshawkin commented on #67
Correction: Lou has suggested wording changes, so he should be in the first category as well.

[2018-01-24 16:18] kshawkin commented on #64
Thank you for the reminder of your earlier suggestion to include something in the Guidelines.  This GitHub project is concerned only with the BP document, so that's where we plan to make a change.  Martin is free to propose changes to the Guidelines as well, or the Technical Council could take that up on their own initiative.

[2018-01-24 16:25] #67 closed, assigned to kshawkin

[2018-01-24 19:45] guelferbytanus commented on #27
@emylonas I wouldn't say it should be limited to level 1 to 3. As a matter of course you can add one or many OCRed versions of a text to `<text>` according to level 4 or higher, but I feel that this is something different. Level 4 may imply editorial changes or as the rules tell us it "describes the nature of the content and not merely its appearance". By that you do something different from just

[2018-01-25 08:57] Martin-de-la-Iglesia commented on #64
... or the Libraries SIG could rework my BP draft into a Guidelines draft.

[2018-01-30 18:07] emylonas commented on #63
implemented with 7fbc5b6

[2018-01-30 18:07] #63 closed, assigned to emylonas

[2018-01-30 18:24] emylonas commented on #62
@sydb can we close this?

[2018-01-30 18:38] emylonas commented on #66
Lou's comment is a new issue as he is suggesting a rewording for a different part of the BP.

I read over the work that @sydb was doing on this issue, and there are two oddities that I've found

- `METS specifies an OTHERMDTYPE of TEIHDR to indicate a TEI Header.` is wrong. The `TEIHDR` value belongs on 'MDTYPE` not 'OTHERMDTYPE` which is for the case where `@MDTYPE="OTHER"`. Someone please check,

[2018-01-30 19:14] emylonas commented on #16
removing `or URI references` for clarity
closing with 7dfb1ef

[2018-01-30 19:14] #16 closed, assigned to emylonas

[2018-02-06 16:11] sydb commented on #62
I think so, but thought someone else should read the para first and close it.

[2018-02-06 16:31] sydb commented on #66
I’ll look at the first in a minute. But as for the second, that file is [check in](https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/blob/master/BestPractices/edmcook-original_mets_xmp.xml). From where does the link not work?

[2018-02-06 16:56] emylonas commented on #62
I read it as well and it seems fine

[2018-02-06 16:56] #62 closed, assigned to sydb

[2018-02-06 17:42] emylonas commented on #66
fixed and closed with commit  5920db4

[2018-02-06 17:42] #66 closed, assigned to sydb

[2018-02-13 19:30] kshawkin commented on #64
After discussion, Syd, Elli, and Kevin decided that we like solution (a).  I will implement.

[2018-02-13 20:01] kshawkin commented on #27
Sorry for the delay, Thomas.  We are indeed interested in your thoughts on pointers to the main `<text>` section.

[2018-03-11 01:13] kshawkin opened #71 "clean up our source citations"
Various ODD files composing the BPTL use `<bibl>` (and maybe `<biblStruct>`?) to cite sources in our prose or examples.  There are a few problems:

1. The ODD-to-HTML stylesheet that we are using does not insert any separating punctuation, but we have neglected to insert it in all cases.  (To see examples, search for "bondage" in the the HTML version of the BPTL.)
1. We've been inserting these `<b

[2018-03-11 01:21] kshawkin commented on #27
Elli, Syd, and I discussed this on 2018-02-13.  Our tentative solution was to do the following:

a) Replace our recommendations for Level 1 with a recommendation to use `<sourceDoc>`, containing markup that either simply represents raw OCR (without coordinates) or includes coordinates, as in Thomas's sample.

b) Allow use of `<sourceDoc>` (with or without coordinates, as above) at Level 2 and abov

[2018-03-13 18:56] sydb commented on #27
OK, the encoding in `sd-p01.xml` is valid TEI, whether placed inside `<sourceDoc>` or even (incorrectly IMHO) inside `<facsimile>`, and whether the co-ordinate attributes (`@ulx`, `@uly`, `@lrx`, `@lry`)
are there or not. So that concern is allayed.

[2018-03-13 19:23] kshawkin commented on #27
Per discussion with Syd and Elli today ...

After April 1, Syd will begin schema changes on Level 1 and write bullet points of things to mention in rewritten prose for Level 1.  Then Elli will refine prose and Kevin will tweak as usual.

Then we'll move on to adjusting other levels.  We'll need to be sure that the table of elements for Level 2 includes things currently mentioned in Level 1 and ass

[2018-03-13 19:25] kshawkin commented on #64
Elli and I will review the HTML output on Syd's server.

[2018-03-13 19:35] kshawkin commented on #71
Try changing `egXML@corresp` into `egXML@source` and see if they render better.

As for citation inserted at https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/63bc9c61dd9b901904108575c9e70469020406ad , I should wrap the `bibl` in a `note`.

[2018-03-13 19:50] kshawkin commented on #71
Now ready for @sydb to regenerate HTML to test rendering.  Maybe this will fix point (2) in this issue.

[2018-03-18 15:26] guelferbytanus commented on #27
Apologies for the delay in responding.  Concering the pointers to `<text>` First of all I actually don't see any need for that if you limit yourself to OCRed text. There won't be any content in `<text>` and we'll have a simple structure such as the following:
[code]
If you enhance that kind of text by providing additional information (i.e. structure or editorial changes) we can argue that there is

[2018-03-18 15:39] guelferbytanus commented on #27
... perhaps one should always add a `<facsimile>` element with references to the master images making up the absolute reference point used by the OCR software to make sure that all necessary information is assembled and ready at hand.

[2018-03-21 14:41] sydb commented on #71
Generated. (Sorry for delay.) I put the results on my [desktop](http://paramedic.wwp.neu.edu/~syd/temp/BPTL/).

[2018-03-25 16:54] kshawkin commented on #64
Syd has regenerated the HTML: http://paramedic.wwp.neu.edu/~syd/temp/BPTL/main-driver.html .  There are rendering bugs relating to bibliographic citations, but overall I think the necessary content is there.  Over to Elli to review as well.

[2018-03-25 16:55] kshawkin commented on #13
We've added `listRelation` to the header table, but we need to check whether this has any mapping to MARC.  I'll ask my colleague.

[2018-03-30 00:10] kshawkin commented on #13
After consultation, it seems that "n/a" was actually appropriate.  Will add back in.

[2018-03-30 00:13] #13 closed, assigned to kshawkin

[2018-03-30 13:13] lb42 opened #72 "Cannot generate relaxng"
The README suggests I can process main_driver.odd to generate a RELAXNG schema, but I can't get this to work in oXygen 19.1 using current TEI framework at release 3.3.0a.
The source is not valid against TEI All, but no specialised ODD is indicated.
The supplied bash script doesn't work for me: it seems rather idiosyncratic.
I *can* generate HTML from the main_driver ODD (having run it through xmll

[2018-03-30 14:29] kshawkin opened #73 "content model for <relatedItem>"
Our table of header elements provides the option of using `<relatedItem>` for a work related to the source document.  There is one child element given (`<bibl>`), with two children of its own: `<author>` and `<title>`.  Two questions:

1. Why did we decide to use `<bibl>` here and not `<biblStruct>`, which is what the `<relatedItem>` is contained in?
1. Why did we only list `<author>` and `<title>

[2018-04-07 18:08] lb42 commented on #73
The more I look at this far from uncommon case, the more intractable it seems., Take a look at the metadata associated with an Internet Archive catalogue entry. Where and how do you propose to record all these items? Here's an example:
                                Collection europeanlibraries
                                Digitizing sponsor Google
                                Book from the

[2018-04-07 20:53] kshawkin commented on #73
For anyone interested, it seems that Lou's example comes from https://archive.org/details/passagesinlifea02greygoog .

Let's say that you are creating a TEI document using this scanned version.  According to the Best Practices, metadata relating to the scanned version would go in TEI/fileDesc/sourceDesc/biblStruct, whereas metadata relating to the print original could be put in TEI/fileDesc/source

[2018-04-09 13:47] lb42 opened #74 "How does a document specify its level of encoding?"
Unless I missed it (which is quite possible) there isn't any recommendation here on  how a document should specify the bp-level of its encoding. Would this not be useful?  Maybe something as simple as &lt;encodingDesc n="BP-level-1"/&gt; would do.

[2018-04-09 13:50] kshawkin commented on #74
What you're looking for is encodingDesc/schemaRef key='BPTL-L1-v3.4.2a'.

[2018-04-09 13:50] #74 closed, assigned to nobody

[2018-04-09 13:52] lb42 commented on #74
Ah, thanks. I thought you must have done it already! Though strictly this is refererring to a specific version release of BPTL, rather than the generic "level1" I had in mind.

[2018-04-09 15:05] kshawkin commented on #74
The BPTL used to refer to the generic levels through editorialDecl@n, but we changed our mind about this: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/17

[2018-04-09 15:24] lb42 commented on #74
I should have guessed that troublemaker @lb42 started this... are you aware that, as currently defined in P5. schemaRef apparently has a mandatory @URL attribute as well as @key ?

[2018-04-09 15:27] kshawkin commented on #17
@lb42 notes at https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/74#issuecomment-379791200 that we need to include url= on schemaRef, so reopening this issue.

[2018-04-09 15:28] kshawkin commented on #74
I was not, but now I am!

[2018-04-11 13:17] kshawkin commented on #73
Elli and Kevin agreed to replace relatedItem/bibl with relatedItem/biblStruct, explaining that you should encode as biblStruct is described as above.  Move the mappings currently given for relatedItem/bibl/author and relatedItem/bibl/title into relatedItem/biblStruct but don't go into much detail.

Kevin will make prose changes and then reassign to Syd for schema changes.

[2018-04-11 13:45] kshawkin commented on #17
Elli, Syd, and Kevin agreed that we should use url= instead of key= on schemaRef, giving a private URI scheme.  Kevin will update the syntax for the attribute value to "bptl:l1-v3.5.0a" etc.  Then Syd will check that this syntax is appropriate for a private URI scheme and then make corresponding schema changes.

[2018-04-20 03:15] sydb commented on #17
Done at 92b1203 (mostly in 51f5f12).
Two further thoughts:
1. Although I was one of us who agreed on all lowercase letters, on looking at it I really think the “l” for “level” should be uppercase, e.g.: `bptl:L2-v4.0.0a`.
2. We need to at least have a prose `<remarks>` in the tagdoc for `<schemaRef>` that explains how a human should parse and understand these strings, if not a mandatory
[code]
kin

[2018-04-21 18:21] kshawkin commented on #17
Syd, thanks for doing my part of what we agreed to at https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/17#issuecomment-380457074 .  I agreed with your first suggestion and have already implemented.  As for the second, in the value of `@replacementPattern`, I would stick with "example.com" instead of "kevinH.example.lib" to avoid confusion.  But does this assume that someone c

[2018-04-21 18:24] kshawkin opened #75 "version number"
Should this say `version="4.0.0a"` as elsewhere?

https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/blob/da6db9b12f921b137dc43d332f2a41f744e3a339/BestPractices/main-driver.odd#L6

[2018-04-24 15:00] sydb commented on #75
Nope. That's the version # of P5 which the ODDs conform to. We have three version #s, and sadly they are all very close to one another:
* The above, the version # of P5 against which our ODD files are supposed to be valid. Specified on the `@version` of the outermost `<TEI>` element, currently "3.1.0". (Probably should update to 3.3.0 at some point, I suppose, but there’s no rush.)
* The version #

[2018-04-27 01:44] kshawkin commented on #75
Okay, thanks for clarifying.  I guess this is all follows how these elements and attributes are documented in P5.  If, however, any of this is not explicit in P5, it might be worth adding comments to the ODD source to clarify the distinctions in the bullets above.  Doing so would save ourselves headaches later when we go through and want to update the version number of the BPTL ... or validate aga

[2018-04-29 01:29] kshawkin commented on #71
At https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/ff6a1670963647ce2f8d516d737f34a785a0937a , https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/23074ea83f307e85c8c5fbec4a859e7a3713bb38 , and https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/c54bc4d330ee37634ac2a88cd84285901a447ca3 , I've wrapped remaining `bibl`s in `note`s and forma

[2018-04-29 01:29] #71 closed, assigned to kshawkin

[2018-05-02 11:45] emylonas commented on #64
Proofreading:

- In the two references in the first sentence, should the parenthesized name follow the un-parenthesized name? I would keep the abbreviations in the parentheses, following the full name. Maybe just switch the `<abbr>` and `<expan>`?
- Link for IFLA `https://www.ifla.org/`
- URL for Functional Requirements for Bibliographic Records: Final ReportFebruary 20097 `https://www.ifla.org/fi

[2018-05-02 11:52] Martin-de-la-Iglesia commented on #64
They're correct. http://vocab.org/frbr/core#realization means, "has realization", etc.

[2018-05-02 12:48] emylonas commented on #64
great. that's the kind of 'englishing" that I need to get it straight in my head.

[2018-05-02 13:26] emylonas commented on #64
@kshawkin makes corrections as above

[2018-05-02 13:43] emylonas commented on #27
Thinking about  use cases and inclusion of OCRed materials in differen levels we have decided:

`<sourceDoc>` optional at level 2
`<text>` not optional at level 2 and above
need to bring `<lb>` from level 3  to level 2

[2018-05-02 13:49] sydb commented on #17
@kshawkin thinks we’ll end up using "http://www.tei-c.org/SIG/Libraries/teiinlibraries/4.0.0/" or some such.

[2018-05-02 13:54] kshawkin commented on #44
Once issues 27, 64, 73, and any newly created issues are resolved, I'll start proofreading.

[2018-05-02 14:10] kshawkin commented on #27
Thomas,

While discussing implementation of this issue today, we reread your comment from January 24 about which version of a text (the OCR version or the tagged version) is the main one and wanted to respond to this.  We feel that http://www.tei-c.org/release/doc/tei-p5-doc/en/html/PH.html#PH-transcr makes it clear that `<text>` is always prioritized over `<facsimile>` or `<sourceDoc>` when eithe

[2018-05-03 07:27] guelferbytanus commented on #27
Kevin,
I am not sure if this is a misunderstanding. When prioritizing `sourceDoc` over `text` I did this on the premise that `text ` is just a derivative of an OCRed version that is accomodated in `sourceDoc`, i.e. somehow automatically converted.  As a matter of course you can add `text` in that sense, but it is always dependent on `sourceDoc` and a particular algorithmen applied to convert it (e

[2018-05-03 14:22] kshawkin commented on #27
Ah, I think I see the source of the confusion: "to take precedence" means to have higher priority, not "to occur first" as its etymology might suggest.

I think we both agree that if you have a `sourceDoc`, you are likely to create your `text` initially using XSLT.  But then I think you are also likely to add tagging inside the `text` through a combination of automated and manual processes.  This

[2018-05-06 17:15] kshawkin commented on #75
We should also not forget about the version number(s) given next to each name in the acknowledgements section!

[2018-05-06 19:05] kshawkin commented on #64
I've addressed all of Elli's suggestions except treating FRBRoo and BIBFRAME as abbreviations.  I can't find anywhere but Wikipedia that explicitly expands "FRBRoo" (as obvious as it may be), and BIBFRAME is similarly not defined as standing for anything in particular.  So I think those are fine.

[2018-05-06 19:05] #64 closed, assigned to kshawkin

[2018-05-10 15:46] sydb opened #76 "Mis-placed close paren?"
In file lib-header.odd the `<publicationStmt>` is described with “Use the child elements below (rather than `<gi>`p`</gi>`) for a prose description.”. Shouldn’t that close parenthesis be after “description”?

[2018-05-10 15:49] kshawkin commented on #76
Good catch.

[2018-05-10 15:49] #76 closed, assigned to nobody

[2018-05-10 15:53] sydb opened #77 "Add element for explicitly indicating license"
The TEI `<licence>` element can be used as a child of `<availability>` to explicitly indicate under what license a user could copy and use a TEI document. E.g.:

[code]

Off the top of my head, I do not see why BPTL would not include this element. Certainly I would like it to be included, as I use it frequently, and I believe the Charon project would want to use it.

[2018-05-22 15:29] emylonas opened #78 "Types of div in backmatter"
In section 3.6, Textual Divisions http://paramedic.wwp.neu.edu/~syd/temp/BPTL/2018-05-17T08/main-driver.html#index.xml-body.1_div.3_div.6 , there is one fewer element in the list on the right (back matter) than there is on the left (front matter). The table has a blank and looks funny.

We could
a)move the bottom 4 values up and close up the blank.
b) add a new div type, for ex. `afterword` or `ad

[2018-05-22 15:41] emylonas commented on #77
Agree, useful element. prefer to have `<p>` and `<license>`

[2018-05-22 15:48] emylonas commented on #78
assigned to Kevin for feedback

[2018-05-22 15:49] emylonas commented on #75
@kshawkin  add the version numbers next to the names

[2018-05-22 15:51] emylonas commented on #77
EM will rewrite table cell so as to remove ref to `<p>` in the `<availability>` box and add references to `<p>` and`<license>` in the prose para. Assigning to Kevin for feedback.

@sydb has added `<license>` to the schema

[2018-05-22 19:32] sydb commented on #73
Not sure there is a schema change to be made. At level 1 or 2 the content of `<relatedItem>` is one of
`<bibl>`, `<biblStruct>`, `<ptr>`, or `<ref>`. At levels 3 and 4 we add `<listBibl>` to the mix. So `<biblStruct>` is already allowed as a child. (Do we actually want to remove `<bibl>`?)

[2018-05-26 21:56] kshawkin commented on #78
It appears that there are two back-to-back tables: one containing values for front and back matter, and the second containing values for the body.  Each of these tables is arranged in two pseudo-columns—that is, the column headers are repeated twice in each table, with a blank column in between.  This was apparently done to use more of the horizontal space so users don't have to scroll as far.

Ho

[2018-05-26 21:59] kshawkin commented on #77
This all sounds good.  I believe that `<license>` has been missing from the BPTL because it was added to P5 after October 2011, when the last version of BPTL was published.

[2018-05-26 22:02] kshawkin commented on #75
The names already have version numbers next to them; I just meant that the XML comments to remind us about these things as well.

But, anyway, I will implement the issue, adding XML comments to annotate each of the things that Syd enumerated to help us keep these things straight in the future.

[2018-05-27 00:22] kshawkin commented on #27
A few comments about the revised table of elements for Level 1:
1. The definition of `<zone>` doesn't explain what this element is meant for, just that it can be divided into `<line>`s.  We'll also need to address the fact that this element is optional (since the example Alger Hiss document doesn't use `<zone>`).
1. The definition of `<line>` includes the term "topographic".  I'm sure what this me

[2018-05-27 12:26] sydb commented on #27
Level 1

1. Good point. I’m not sure I realized `<zone>` was even allowed in the level 1 schema. Should it be? Is there any OCR software that would produce the equivalent to one?

2. The term “topographic”, for better or worse, is copied straight from P5. I think I would be quite happy with your suggested re-write if we added the word “physical”: “Contains text appearing in a single physical line

[2018-05-27 20:36] kshawkin commented on #27
Regarding point 1, in the comments above on this issue, Thomas suggests using `<zone>` for individual words identified in the OCR.

Regarding point 2, adding "physical" is good with me.

[2018-05-27 23:00] #75 closed, assigned to kshawkin

[2018-05-28 20:48] kshawkin commented on #73
Yes, we should remove `<bibl>` as a child of `<relatedItem>`.

[2018-05-29 15:00] sydb commented on #73
OK. This is not difficult, but nor is it trivial, as `<bibl>` is not a child of `<relatedItem>` directly, but rather by means of being a member of model.biblLike. It is also a member of model.biblPart, but that only allows it to self-nest. Its memebership in model.biblLike allows it to be used in many places, for a complete list of which see an analysis below.

The analysis reveals, I think, two t

[2018-05-29 15:32] kshawkin commented on #73
Use this for ODD for `<relatedItem>`:

`
<elementSpec module="header" ident="relatedItem" mode="change">
	    <content>
	      <elementRef key="biblStruct"/>
	    </content>
	  </elementSpec>
`

Remove `<quote>` from levels 1 and 2: they are not references at those levels.

[2018-05-29 15:57] kshawkin opened #79 "mark required elements in each element table"
See how Syd has done it with Level 1 table (changes to be committed); do this in other levels.

[2018-05-29 16:15] kshawkin opened #80 "rework ODDs into a single file to use new capability for generating multiple schema"
The TEI Council is working on a new capability in the ODD language to allow a single ODD file to be used to generate different schema, with you specifying which one you want at the time of processing.  Once this is working, we should rework our ODDs into a single file, which will be much easier to maintain.

[2018-05-29 16:18] kshawkin commented on #17
Syd plans to return to this once he completes other work.

[2018-05-29 16:21] sydb opened #81 "rename source files"
Use “bptl-L1.odd”, etc.

[2018-05-29 16:24] lb42 commented on #80
I'm not aware that any new capability is necessary for this. It doesn't work in Roma but there's quite a lot besides this that Roma doesn't do. When you do get round to thinking about this again, may I suggest that an odd chaining approach might be simple r.

[2018-05-29 16:31] kshawkin commented on #27
Once Syd commits the changes he worked on during our call today, I will add part of Thoma's `sd-p01.xml` as a second example for Level 1 (showing use of `<zone>` for individual words identified by OCR software).

[2018-05-29 16:39] sydb commented on #80
Right, @lb42. @kshawkin had the tense wrong: it is the use of the `--selectedSchema` switch we are thinking of. Back when I invented our current convoluted system `--selectedSchema` did not exist or did not work at all; but now it works reasonably well, but has at least 1 bug that would hold us back. (I forgot the details, but in at least some circumstances a `<specGrp>` gets included in the outpu

[2018-05-29 16:55] guelferbytanus commented on #27
I still feel somewhat uneasy to leave it open to the user how `zone` is "typed", e.g. one can use `<zone type="word">` or `<zone type="token">` or something else and I wonder  if we have to be more restrictive if this is meant to reliably accomodate coordinates produced by an OCR engine.

[2018-05-29 20:49] lb42 commented on #80
Have you raised an issue for this bug or bugs? I saw MSM did, but then retracted it.

[2018-05-30 01:29] kshawkin commented on #27
Added second example at https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/commit/02bcd51137e9f953c3ab16d8c0114cd666463c76 .  Once Syd recreates the HTML output for us, we should look at this and consider whether to add a `@type` on `<zone>`.  We might suggest values like `word` and `token`, but I'm reluctant to prescribe one or the other since I imagine that different OCR software to

[2018-05-30 01:50] kshawkin commented on #79
I started implementing this but then remembered that at #52 we had decided only to use "must" or "required" in cases where a practice is required by P5.  Will go through all of our element tables again to check usage.

[2018-05-30 01:55] #79 closed, assigned to kshawkin

[2018-05-30 08:04] guelferbytanus commented on #27
That is true, but the usual process will be that the user has a seperate OCR format such as ALTO or PAGE that he or she will transform to TEI.  insofar I don't see any disadvantage if we are going to be more prescriptive. On the contrary, we could avoid too much variation and facilitate aggregation.   On the other hand, granularity may change with a different focus, e.g. it is a slight difference

[2018-05-30 17:46] sydb commented on #81
Done at 033fed0

[2018-05-30 17:46] #81 closed, assigned to nobody

[2018-05-31 22:09] sydb commented on #80
Oh, right! I had **completely** forgotten about the retraction. Maybe it won’t be a problem after all …

[2018-07-10 11:17] emylonas commented on #78
close once guidelines have been remade and checked

[2018-07-10 11:18] emylonas commented on #77
close once guidelines have been remade and checked

[2018-07-10 13:00] sydb commented on #73
OK. `<quote>` has been removed from levels 1 & 2 (which I did weeks ago), and the content of `<relatedItem>` is now required to be 1 and only 1 `<biblStruct>` (at every level, which I just did now). I find that a bit distressing … isn’t it reasonable to want to say “that web resource over there is a related item”? In which case either having 0 or 1 `<biblStruct>` (and using `@target` — and note th

[2018-07-10 14:15] kshawkin commented on #80
Syd realizes that while we could now do this, the current ODD processor would generate documentation as separate files for each level as well, which isn't what we want for the BPTL.  So we'll leave the ODDs as they are for now.

[2018-07-10 14:24] kshawkin commented on #78
We verified and then made a few more tweaks.

[2018-07-10 14:24] #78 closed, assigned to sydb, emylonas

[2018-07-10 14:27] kshawkin commented on #77
Reviewed and made a few more tweaks.

[2018-07-10 14:27] #77 closed, assigned to sydb, emylonas

[2018-07-10 14:39] sydb commented on #73
@kshawkin points out that it is good practice to include a full bibliographic citation even if the related item **is** a web resource. In which case, 1 and only 1 `<biblStruct>` makes sense, but `@target` does not.

Thus, I’ve removed `@target` (and the `<constraintSpec>` about it) from `<relatedItem>`.

Note that @kshawkin is making a new issue for discussing _how_ to encode the URL inside the `<

[2018-07-10 14:41] emylonas commented on #72
@sydb Syd to look at README, add any missing information for making the rng files and ask Lou to try again.

[2018-07-10 14:49] emylonas commented on #27
@kshawkin @emylonas read over this section by July 17. Comment or sign off.
@sydb reworks/finishes XSLT ALTO->Level 1 conversion by August 1.

[2018-07-10 14:57] kshawkin commented on #17
Elli, Syd, and I reviewed today; everything looks good.

[2018-07-10 14:57] #17 closed, assigned to sydb

[2018-07-10 19:50] #73 closed, assigned to sydb

[2018-07-13 00:15] kshawkin opened #83 "accommodate URLs as part of bibliographic references in the sourceDesc"
During the BPTL workgroup meeting on 2018-07-10, we realized that the BPTL does not explain how to encode a URI for the source of the TEI document or a related item.  While P5 allows you to use `@target` on `relatedItem` as an alternative to giving a bibliographic description, we agreed that good practice would be to always include a full bibliographic citation for any related item, just as we do

[2018-07-13 00:15] kshawkin commented on #73
For the record, the new issue that Syd mentioned two days ago has now been created: https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/83

[2018-07-13 00:29] kshawkin opened #84 "standardize how we express "required" and "optional" in element tables"
We have begun using "[required]" and "[optional]" at the beginning of the glosses for each element in some element tables.  We should do this consistently throughout, rewording as necessary.

Best to do this before https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/44 .

[2018-07-13 00:40] kshawkin opened #85 "releasing version 4.0.0: updating http://www.tei-c.org/SIG/Libraries/teiinlibraries/ , providing zip file"
When we finally release version 4.0.0, remove the blue box at http://www.tei-c.org/SIG/Libraries/teiinlibraries/ and recreate the following paragraph as a list of versions (going back to those hosted on the DLF website).  For version 4.0.0, we should put not only the main document and schema files under http://www.tei-c.org/SIG/Libraries/teiinlibraries/4.0.0/ but also include a zip file of all of

[2018-07-13 00:49] kshawkin opened #86 "missing MARC mappings"
A few rows in the table of header elements are missing values for the last two columns (the MARC mappings).  I need to review the table with Adam Baron.  It would be best to wait till https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/issues/83 is done, but we may decide to leave that for a future revision to the BPTL while waiting on resolution from Council.

[2018-07-15 18:57] kshawkin commented on #27
I realize now that section 3.9.1 ( http://paramedic.wwp.neu.edu/~syd/temp/BPTL/2018-07-10T11/bptl-driver.html#index.xml-body.1_div.3_div.9_div.1 ) says that we would not attempt to list all allowed values of `@type` for each element, so this gives us an out for not specifying this for `<zone>` (even though we have given many recommended values for `@type` elsewhere in the BPTL).  I think the prose

[2018-08-14 19:16] kshawkin commented on #27
Syd will post to TEI-L asking for sample output from OCR software (hOCR etc.), and try to get at least ALTO->level 1, and perhaps others, by Sep 1.

[2018-08-14 19:20] kshawkin commented on #83
Regarding (a), we agreed to use `ptr`.

Regarding (b), Syd has nudged Council to address TEIC/TEI#1788 before the Tokyo F2F.  If there are no objections, he will implement the schema change that so that we can move forward.

Kevin thinks he can do the prose changes once (b) is resolved.

[2018-08-14 19:44] emylonas opened #87 "section heading should have `@ref`"
http://paramedic.wwp.neu.edu/~syd/temp/BPTL/2018-07-10T11/bptl-driver.html#index.xml-body.1_div.3_div.9_div.3 should read
`3.9.3. @ref and tag URIs`
i think?
will fix unless unnecessary

[2018-08-14 19:57] emylonas commented on #27
Feedback after careful reading of level 1:

- Why are we even referring to TEI Chapter 3? As far as I can tell, we are using only the sourceDoc elements `<surface> <zone> <line>` and not any other elements. Perhaps only refer to Chapter 11?
- Why does this OCR *have* to be uncorrected? I'm not discussing an actual edition, but something that brings the text closer to what's on the page rather than

[2018-08-14 20:01] emylonas commented on #27
Clarification for above comments. I know we have the core module in Level 1, as well as some other features. But what does it mean to further encode something that is supposed to have minimal intervention.

[2018-08-14 21:50] kshawkin commented on #87
Yes, please change `<head>ref and tag URIs</head>` to `<head><att>ref</att> and tag URIs</head>` !

[2018-08-14 21:59] kshawkin commented on #27
Responding to Elli's bullets above ...
* I agree on removing the reference to Chapter 3.  This is left over from when this level included `div` or `div1`, `ab`, and `pb` or `facsimile`.  Good catch.
* I agree that we shouldn't require OCR text to be uncorrected, so the "Workflow" section in Level 1 could be changed to insert "generally" before "left uncorrected".  (The rest of this section also ne

[2018-08-18 22:13] emylonas commented on #87
fixed and closed with e41a02b

[2018-08-18 22:13] #87 closed, assigned to emylonas

[2018-08-18 22:16] emylonas commented on #27
@sydb are there any `pb` elements in the level one TEI conversions? Just checking. Now that I am thinking about it, we could also have facsimile,

[2018-08-19 00:43] kshawkin commented on #84
Per the wording in the introduction to the BPTL:

... I will standardize on "[recommended]" and "[optional]" except when something is also required by P5, in which case I'll use "[required]".

But note that when the BPTL says to use something only a certain circumstance, I'll still mark that as "[recommended]" since the situation is essentially "recommended when applicable".

[2018-08-19 22:45] #84 closed, assigned to kshawkin

[2018-08-23 17:30] emylonas opened #88 "scripts for OCR->BPTL level 1 conversion"
are we done with this? see #27

[2018-08-23 17:31] #27 closed, assigned to sydb, emylonas

[2018-08-23 17:36] emylonas commented on #44
@sydb pls generate new BPTL guidelines
@kshawkin @emylonas start to proofread. Only issue that may change prose is #83.

[2018-08-23 18:05] sydb commented on #44
Done. See [usual temporary site](http://paramedic.wwp.northeastern.edu/~syd/temp/BPTL/).

[2018-08-23 19:08] kshawkin commented on #86
I've emailed Adam, explaining what's forthcoming in #83 (so as not to wait on that issue to be closed).

[2018-08-24 22:27] kshawkin commented on #44
[Best Practices for TEI in Libraries_2018-08-23_proofreading.docx](https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries/files/2320054/Best.Practices.for.TEI.in.Libraries_2018-08-23_proofreading.docx)
I've edited as attached.  Will move into the ODD source soon.  I feel confident enough about our text that I am no longer interested in drafting in an outside reader.

[2018-08-25 20:53] kshawkin commented on #44
Changes in Word document now implemented everywhere (plus a few more things I discovered along the way). If Syd can regenerate the HTML, that will provide a cleaner starting point for Elli.

[2018-08-26 00:26] sydb commented on #44
Done. See [usual temporary site](http://paramedic.wwp.northeastern.edu/~syd/temp/BPTL/). HOWEVER, for reasons I cannot explain and do not have time to investigate now, it would not build on my desktop at home (giving java.lang.RuntimeException: Internal error evaluating template rule  at line 168 in module .../Stylesheets/odds/odd2lite.xsl), but built fine on my desktop at work.

[2018-08-30 20:37] sydb commented on #88
No, not even close. But then again, this is something I had not planned to finish before Tokyo. (Although I had planned to be further along than I am.) I do not think of these scripts as show-stoppers **at all**, because I think of them as ancillary materials. (Important, yes, but ancillary.)

[2018-08-30 21:03] emylonas commented on #44
- In the table defining the 5 levels, what does `(example)` mean in 3-5 1st column?
- same table, level 5 definition - worth mentioning specialized automated encoding such as POS?
- `These Best Practices specify a recommended archival storage format. Local system needs may require transformation of documents in this archival format to another XML format for use by a local indexing or delivery soft

[2018-08-30 21:53] sydb commented on #72
OK, @lb42. Both the build process and the instructions for them have been re-written somewhat, and both @martindholmes and @emylonas have been been able to generate outputs. Could you take a look at the [instructions](https://github.com/kshawkin/Best-Practices-for-TEI-in-Libraries#building) and see if things work for you now? Thanks!

[2018-08-31 11:41] emylonas commented on #44
Good idea to search for `See...` because not all cross refs are linked.

[2018-08-31 17:54] kshawkin commented on #44
Bullet 1: I removed these in my last round of revisions.
Bullet 4: I'm not sure what to link to.  P5's Gentle Introduction to XML includes a link to the W3C spec, but I believe that a spec is never the thing to link to for an introduction.
Bullet 6: Yes, it appears that line breaks are missing in the "Appearance in source document" table. @sydb , is this something you can fix, or will I just need

[2018-08-31 22:03] #83 closed, assigned to sydb, kshawkin

[2018-08-31 22:05] kshawkin commented on #86
Done as part of finishing #83

[2018-08-31 22:05] #86 closed, assigned to kshawkin

[2018-09-03 13:03] emylonas commented on #44
3.7 minor point: \the number of the page whose text follows..` the word `text` might more clearly be `content` but not major issue
3.9.1 on `@type` - discussion of Roma - it's changing, we should remember that. But perhaps there will be a redirect in place anyway.

3.9.3 `Since Linked Data applications in libraries make many authority records being made accessible through URIs` looks like a scriba

[2018-09-04 18:15] kshawkin commented on #44
Thanks for catching so many things in your proofreading!  I've made all of these changes except for the discussion of `sourceDoc` at the top of section 4.  Here, as elsewhere in the BPTL, we use "recommended" for things that are required according to the BPTL but not P5 (see #52), meaning that according to the BPTL, Level 1 must have a `sourceDoc`.  Perhaps this idiosyncratic use of modal expressi

[2018-09-04 18:46] emylonas commented on #44
Ok, that is part of BPTL - I was feeling that it should be "must" not just "recommended" but we should definitely stick to our agreed upon practice.

[2018-09-06 12:57] emylonas commented on #44
Last set of comments:
## Level 1
### 4.2.2.3 Rationale
`stand alone as an electronic text (without page images)`
stylistic, so not necessary, but a bit clearer `stand alone as an electronic text without
accompanying page images`

table of elements, `<surface>` `or most likely a textual` better: `or, most likely, a textual `

## Level 2
should we make it explicit that  `<div>s` can be nested as nee

[2018-09-06 17:57] kshawkin opened #89 "introduce <ab> for paragraph-like things at Level 3 or 4?"
We don't currently say what to do about paragraph-like things in a text that you don't consider to be actual paragraphs.  While P5 allows `<ab>` for this, we don't say what to do about such things.  Should we introduce `<ab>` (which is actually allowed by the schema for Level 3 and maybe 4 (haven't tested)) for this purpose?

Marking as "dormant" to be dealt with in a future revision of the BPTL.

[2018-09-06 18:01] kshawkin commented on #44
Lots more great edits.  I've fixed things except where noted below:

Level 2:
* divs actually can't be nested till Level 4.  I think not mentioning them till Level 4 makes that clear.
* I've changed "it is unknown whether or not it is truly 'TEI conformant'" to "it is UNCLEAR whether or not [. . .]".  As far as I know, P5 simply doesn't make this matter of conformance clear.

Levels 3 and 4: I've

[2018-09-06 18:02] kshawkin commented on #44
Oh, and on the empty "specification" section: Yes, I believe this is an artifact of creation of the HTML.  I'll edit these out when creating the cleaned-up version to post.

[2018-09-06 18:08] kshawkin commented on #85
Reminders of things to clean up from the automatically generated HTML:
* Line breaks in the "Appearance in source document" column of the table on hyphenation.
* Remove the empty specification sections.

[2018-09-07 04:16] emylonas commented on #44
All sounds good. There is a lot to say about how to store controlled vocabularies especially in documents in progress vs. archival forms.  Not necessary to deal with it here.

[2018-09-08 22:15] #44 closed, assigned to sydb, kshawkin, emylonas

[2018-09-09 01:52] #85 closed, assigned to kshawkin

[2018-09-23 12:54] kshawkin opened #90 "consider replacing FRBR discussion with PROV-O or IFLA LRM"
Replace with PROV-O (see discussion at https://listserv.brown.edu/archives/cgi-bin/wa?A2=TEI-L;102b9d22.1809 ) or IFLA Library Reference Model (LRM) (see https://www.ifla.org/publications/node/11412 ).  LRM appears to have kept the four "group 1" entities", so this option would be straightforward.

[2019-03-14 15:12] kshawkin opened #91 "format of ISBNs and ISSNs"
In the header table, we should specify whether to include hyphens in ISBNs and ISSNs.  (The sample header shows hyphens for an ISBN, but you shouldn't have to rely on the sample.)

The ISSN standard (ISO/DIS 3297) is being revised and will likely include the following recommendation for metadata capture:

While this makes sense for ISSNs (where the hyphen only ever occurs after the fourth digit),

[2020-02-14 17:52] kshawkin opened #92 "address use of <standOff>"
P5 4.0.0 introduced the <standOff> element.  Consider revising the BPTL to address use of this for controlled vocabularies or anything else.

[2020-05-13 14:14] pcgorman opened #93 "<titlePage> not allowed by ODD"
The ODD for levels 3 and 4 only permit model.divLike or model.div1Like as the content of &lt;front>, neither of which includes &lt;titlePage>, though its use is recommended. model.frontPart is explicitly deleted by the ODD.

[2020-05-13 15:44] pcgorman opened #94 "<closer> recommended, but deleted by ODDs"
Level 4 recommends the use of &lt;closer> and its descendants, but the ODD explicitly deletes model.divBottom and model.divBottomPart

[2021-02-18 13:37] knagasaki opened #95 "Please revise the URL for CSS in bptl-driver.html"
In my Web browsers, the css files can not be loaded in the following page:
https://www.tei-c.org/extra/teiinlibraries/4.0.0/bptl-driver.html

It seems to me that it's caused by the URL of css files which are "http", not "https".
So, I hope they will be revised.

[2021-02-22 02:44] kshawkin commented on #95
Note for @sydb : Please regenerate the static HTML documentation and then share with the current TEI webmaster to fix this problem whereby Chrome (and possibly other browsers) block mixed content.

[2021-02-22 22:10] kshawkin commented on #95
In the meantime, @knagasaki , if you use Firefox, you will still be able to view the text on the page.

[2021-02-23 03:40] sydb commented on #95
Rebuilt. But I thought before I pester the webmaster to put them up, we should take a quick check to make sure they are OK. They look OK to me, but a) I am tired enough right now anything better than lorem ipsum would probably look OK, and b) I use Firefox.
So please see the various files in [this folder](https://bauman.zapto.org/~syd/temp/TEItmp/BPTL_rebuilt_2021-02-22/) on my basement web server

[2021-02-23 03:56] knagasaki commented on #95
Thank you very much, @sydb , the files in the folder seem to be perfect on my firefox and chrome!

[2021-02-23 13:12] kshawkin commented on #95
Agreed!

[2021-02-28 15:40] sydb commented on #95
Hmmm … do we need or want to up the version # (from 4.0.0 to 4.0.1) for this?
(I am asking @kshawkin and @emylonas in particular, but anyone should feel free to chime in.)

[2021-02-28 16:57] kshawkin commented on #95
Did any code in this repository change?  If not, I think we keep the same version number since we are simply updating the rendering online.

[2022-02-10 15:34] sydb commented on #95
Oh my gosh, I totally let this fall off my radar. (And no one reminded me!)
Just sent mail to webmaster@tei-c.org. (I do not know who that currently is.)

[2022-07-07 00:19] kshawkin opened #96 "discussion of hyphenation: mismatch between code sample and note"
In the third row of our table, we have:

|Colloquial name | Appearance in source document | Encoding | Note |
|----------------|----------------------------------|----------|-------|
| Soft hyphen | UTF-8 is a char- acter encoding for Unicode. | `UTF-8 is a char<pc force="strong">-</pc><lb break="yes"/>acter encoding for Unicode.` | As in the first example, the use of weak as the value of force in

[2022-07-07 00:36] emylonas commented on #96
The Note is correct and the encoding incorrect. It should be `<lb break="no"/>` when the line break is inside a word.
I just checked the Guidelines on `<pc>` and again, the encoded example is backwards. The `@force` attribute is "strong" when the punctuation mark is a word separator, and "weak" when it is not. In this case, the hyphen appears in side the word "character" so it doesn't serve as a w

[2022-07-07 00:46] kshawkin commented on #96
Thank you for the quick detective work!